[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNM/VpnUiPlugin
X-KDE-Library=plasmanm_openswanui
X-NetworkManager-Services=org.freedesktop.NetworkManager.openswan
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-Name=plasmanm_openswanui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=OpenSwan
Name[ar]=OpenSwan
Name[bs]=OpenSwan
Name[ca]=OpenSwan
Name[ca@valencia]=OpenSwan
Name[cs]=OpenSwan
Name[da]=OpenSwan
Name[de]=OpenSwan
Name[el]=OpenSwan
Name[en_GB]=OpenSwan
Name[es]=OpenSwan
Name[et]=OpenSwan
Name[fi]=OpenSwan
Name[fr]=OpenSwan
Name[gl]=OpenSwan
Name[hu]=OpenSwan
Name[ia]=OpenSwan
Name[it]=OpenSwan
Name[km]=OpenSwan
Name[lt]=OpenSwan
Name[mr]=OpenSwan
Name[nb]=OpenSwan
Name[nds]=OpenSwan
Name[nl]=OpenSwan
Name[pa]=OpenSwan
Name[pl]=OpenSwan
Name[pt]=OpenSwan
Name[pt_BR]=OpenSwan
Name[ro]=OpenSwan
Name[ru]=OpenSwan
Name[sk]=OpenSwan
Name[sl]=OpenSwan
Name[sr]=Стронгсвон
Name[sr@ijekavian]=Стронгсвон
Name[sr@ijekavianlatin]=openSwan
Name[sr@latin]=openSwan
Name[sv]=OpenSwan
Name[th]=OpenSwan
Name[tr]=OpenSwan
Name[ug]=OpenSwan
Name[uk]=OpenSwan
Name[x-test]=xxOpenSwanxx
Name[zh_CN]=openSwan
Name[zh_TW]=OpenSwan
Comment=OpenSwan Plugin
Comment[ar]=ملحق OpenSwan
Comment[bs]=OpenSwan Dodatak
Comment[ca]=Connector de «OpenSwan»
Comment[ca@valencia]=Connector de «OpenSwan»
Comment[cs]=Modul OpenSwan
Comment[da]=OpenSwan-plugin
Comment[de]=OpenSwan-Modul
Comment[el]=Πρόσθετο OpenSwan
Comment[en_GB]=OpenSwan Plugin
Comment[es]=Complemento de OpenSwan
Comment[et]=OpenSwani plugin
Comment[fi]=OpenSwan-liitännäinen
Comment[fr]=Module externe OpenSwan
Comment[gl]=Complemento de OpenSwan.
Comment[hu]=OpenSwan-modul
Comment[ia]=Plugin de OpenSwan
Comment[it]=Estensione OpenSwan
Comment[km]=កម្មវិធី​ជំនួយ​ OpenSwan
Comment[lt]=OpenSwan papildinys
Comment[mr]=OpenSwan प्लगइन
Comment[nb]=OpenSwan programtillegg
Comment[nds]=OpenSwan-Moduul
Comment[nl]=Plugin voor OpenSwan
Comment[pa]=OpenSwan ਪਲੱਗਇਨ
Comment[pl]=Wtyczka OpenSwan
Comment[pt]='Plugin' do OpenSwan
Comment[pt_BR]=Plugin do OpenSwan
Comment[ro]=Modul OpenSwan
Comment[ru]=Модуль OpenSwan
Comment[sk]=OpenSwan modul
Comment[sl]=Vstavek OpenSwan
Comment[sr]=Прикључак Стронгсвона
Comment[sr@ijekavian]=Прикључак Стронгсвона
Comment[sr@ijekavianlatin]=Priključak openSwana
Comment[sr@latin]=Priključak openSwana
Comment[sv]=Insticksprogram för OpenSwan
Comment[th]=โปรแกรมเสริมของ OpenSwan
Comment[tr]=OpenSwan Eklentisi
Comment[ug]=OpenSwan قىستۇرمىسى
Comment[uk]=Додаток OpenSwan
Comment[x-test]=xxOpenSwan Pluginxx
Comment[zh_CN]=OpenSwan 插件
Comment[zh_TW]=OpenSwan 外掛程式
