[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_l2tpui
X-NetworkManager-Services=org.freedesktop.NetworkManager.l2tp
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_l2tpui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=L2TP
Name[bg]=L2TP
Name[bs]=L2TP
Name[ca]=L2TP
Name[ca@valencia]=L2TP
Name[cs]=L2TP
Name[da]=L2TP
Name[de]=L2TP
Name[el]=L2TP
Name[en_GB]=L2TP
Name[es]=L2TP
Name[et]=L2TP
Name[fi]=L2TP
Name[fr]=L2TP
Name[hu]=L2TP
Name[it]=L2TP
Name[ko]=L2TP
Name[lt]=L2TP
Name[nb]=L2TP
Name[nds]=L2TP
Name[nl]=L2TP
Name[pl]=L2TP
Name[pt]=L2TP
Name[pt_BR]=L2TP
Name[ro]=L2TP
Name[ru]=L2TP
Name[sk]=L2TP
Name[sl]=L2TP
Name[sv]=L2TP
Name[tr]=L2TP
Name[uk]=L2TP
Name[x-test]=xxL2TPxx
Name[zh_CN]=L2TP
Comment=L2TP plugin
Comment[bg]=Приставка за L2TP
Comment[bs]=L2TP dodatak
Comment[ca]=Connector de L2TP
Comment[ca@valencia]=Connector de L2TP
Comment[cs]=Modul L2TP
Comment[da]=L2TP-plugin
Comment[de]=L2TP-Modul
Comment[el]=Πρόσθετο L2TP
Comment[en_GB]=L2TP plugin
Comment[es]=Complemento L2TP
Comment[et]=L2TP plugin
Comment[fi]=L2TP-liitännäinen
Comment[fr]=Module externe L2TP
Comment[hu]=L2TP bővítmény
Comment[it]=Estensione L2TP
Comment[ko]=L2TP 플러그인
Comment[lt]=L2TP įskiepis
Comment[nb]=L2TP programtillegg
Comment[nds]=L2TP-Moduul
Comment[nl]=L2TP-plug-in
Comment[pl]=Wtyczka L2TP
Comment[pt]='Plugin' do L2TP
Comment[pt_BR]=Plugin do L2TP
Comment[ro]=Extensie L2TP
Comment[ru]=Модуль L2TP
Comment[sk]=Plugin L2TP
Comment[sl]=Vstavek L2TP
Comment[sv]=Insticksprogram för L2TP
Comment[tr]=L2TP eklentisi
Comment[uk]=Додаток L2TP
Comment[x-test]=xxL2TP pluginxx
Comment[zh_CN]=L2TP 插件

