[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_l2tpui
X-NetworkManager-Services=org.freedesktop.NetworkManager.l2tp
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_l2tpui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Layer 2 Tunneling Protocol (L2TP)
Name[nl]=Layer 2 Tunneling Protocol (L2TP)
Name[pt]=Protocolo de Túneis Nível 2 (L2TP)
Name[sv]=Lager-2 tunnelprotokoll (L2TP)
Name[x-test]=xxLayer 2 Tunneling Protocol (L2TP)xx
Comment=Compatible with L2TP VPN servers
Comment[nl]=Compatibel met L2TP VPN servers
Comment[pt]=Compatível com os servidores de VPN L2TP
Comment[sv]=Kompatibel med L2TP VPN-servrar
Comment[x-test]=xxCompatible with L2TP VPN serversxx
