[Desktop Entry]
Name=Hotspot
Comment=Wi-Fi Hotspots
Encoding=UTF-8
Type=Service
Icon=network-wireless-hotspot
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_mobile_hotspot
X-KDE-PluginInfo-Author=Tobias Fella
X-KDE-PluginInfo-Email=fella@posteo.de
X-KDE-PluginInfo-Name=kcm_mobile_hotspot
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://plasma-mobile.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-Package=kcm_mobile_hotspot
X-Plasma-MainScript=ui/main.qml
