[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_openvpnui
X-NetworkManager-Services=org.freedesktop.NetworkManager.openvpn
X-KDE-PluginInfo-Author=Lukáš Tinkl
X-KDE-PluginInfo-Email=lukas@kde.org
X-KDE-PluginInfo-Name=plasmanetworkmanagement_openvpnui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=OpenVPN
Name[ar]=OpenVPN
Name[ast]=OpenVPN
Name[bg]=OpenVPN
Name[bs]=OpenVPN
Name[ca]=OpenVPN
Name[ca@valencia]=OpenVPN
Name[cs]=OpenVPN
Name[da]=OpenVPN
Name[de]=OpenVPN
Name[el]=OpenVPN
Name[en_GB]=OpenVPN
Name[es]=OpenVPN
Name[fi]=OpenVPN
Name[fr]=OpenVPN
Name[gl]=OpenVPN
Name[hu]=OpenVPN
Name[ia]=OpenVPN
Name[it]=OpenVPN
Name[ko]=OpenVPN
Name[lt]=OpenVPN
Name[nb]=OpenVPN
Name[nds]=OpenVPN
Name[nl]=OpenVPN
Name[nn]=OpenVPN
Name[pa]=OpenVPN
Name[pl]=OpenVPN
Name[pt]=OpenVPN
Name[pt_BR]=OpenVPN
Name[ro]=OpenVPN
Name[ru]=OpenVPN
Name[sk]=OpenVPN
Name[sl]=OpenVPN
Name[sr]=ОпенВПН
Name[sr@ijekavian]=ОпенВПН
Name[sr@ijekavianlatin]=OpenVPN
Name[sr@latin]=OpenVPN
Name[sv]=OpenVPN
Name[tr]=OpenVPN
Name[ug]=OpenVPN
Name[uk]=OpenVPN
Name[x-test]=xxOpenVPNxx
Name[zh_CN]=OpenVPN
Name[zh_TW]=OpenVPN
Comment=Compatible with the OpenVPN server
Comment[nl]=Compatibel met de OpenVPN-server
Comment[pt]=Compatível com o servidor OpenVPN
Comment[sv]=Kompatibel med OpenVPN-server
Comment[x-test]=xxCompatible with the OpenVPN serverxx

