[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_openvpnui
X-NetworkManager-Services=org.freedesktop.NetworkManager.openvpn
X-KDE-PluginInfo-Author=Lukáš Tinkl
X-KDE-PluginInfo-Email=lukas@kde.org
X-KDE-PluginInfo-Name=plasmanetworkmanagement_openvpnui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=OpenVPN
Name[bg]=OpenVPN
Name[bs]=OpenVPN
Name[ca]=OpenVPN
Name[ca@valencia]=OpenVPN
Name[cs]=OpenVPN
Name[da]=OpenVPN
Name[de]=OpenVPN
Name[el]=OpenVPN
Name[en_GB]=OpenVPN
Name[es]=OpenVPN
Name[et]=OpenVPN
Name[fi]=OpenVPN
Name[fr]=OpenVPN
Name[hu]=OpenVPN
Name[it]=OpenVPN
Name[ko]=OpenVPN
Name[lt]=OpenVPN
Name[nb]=OpenVPN
Name[nds]=OpenVPN
Name[nl]=OpenVPN
Name[pl]=OpenVPN
Name[pt]=OpenVPN
Name[pt_BR]=OpenVPN
Name[ro]=OpenVPN
Name[ru]=OpenVPN
Name[sk]=OpenVPN
Name[sl]=OpenVPN
Name[sv]=OpenVPN
Name[tr]=OpenVPN
Name[ug]=OpenVPN
Name[uk]=OpenVPN
Name[x-test]=xxOpenVPNxx
Name[zh_CN]=OpenVPN
Comment=OpenVPN plugin
Comment[bg]=Приставка за OpenVPN
Comment[bs]=OpenVPN priključak
Comment[ca]=Connector d'OpenVPN
Comment[ca@valencia]=Connector d'OpenVPN
Comment[cs]=Modul OpenVPN
Comment[da]=OpenVPN-plugin
Comment[de]=OpenVPN-Modul
Comment[el]=Πρόσθετο OpenVPN
Comment[en_GB]=OpenVPN plugin
Comment[es]=Complemento OpenVPN
Comment[et]=OpenVPN-i plugin
Comment[fi]=OpenVPN-liitännäinen
Comment[fr]=Module externe OpenVPN
Comment[hu]=OpenVPN bővítmény
Comment[it]=Estensione OpenVPN
Comment[ko]=OpenVPN 플러그인
Comment[lt]=OpenVPN papildinys
Comment[nb]=OpenVPN programtillegg
Comment[nds]=OpenVPN-Moduul
Comment[nl]=OpenVPN-plug-in
Comment[pl]=Wtyczka OpenVPN
Comment[pt]='Plugin' do OpenVPN
Comment[pt_BR]=Plugin do OpenVPN
Comment[ro]=Extensie OpenVPN
Comment[ru]=Модуль OpenVPN
Comment[sk]=OpenVPN plugin
Comment[sl]=Vstavek OpenVPN
Comment[sv]=Insticksprogram för OpenVPN
Comment[tr]=OpenVPN eklentisi
Comment[ug]=OpenVPN قىستۇرمىسى
Comment[uk]=Додаток OpenVPN
Comment[x-test]=xxOpenVPN pluginxx
Comment[zh_CN]=OpenVPN 插件

