[Desktop Entry]
Type=Application
Name=VPN Importer
Name[ar]=مستورد في بي ان
Name[be]=Імпарцёр VPN
Name[bg]=Импортиране на VPN
Name[ca]=Importador de VPN
Name[ca@valencia]=Importador de VPN
Name[cs]=Importér VPN
Name[da]=VPN-importør
Name[en_GB]=VPN Importer
Name[eo]=VPN-Enportilo
Name[es]=Importador VPN
Name[eu]=VPN inportatzailea
Name[fr]=Importateur VPN
Name[gl]=Importador de VPN
Name[he]=מייבא VPN
Name[hu]=VPN importáló
Name[ia]=Importator de VPN
Name[it]=Importatore VPN
Name[ka]=VPN-ის შემოტანა
Name[ko]=VPN 가져오기 도구
Name[lt]=VPN importuotojas
Name[lv]=VPN importētājs
Name[nl]=VPN-importeur
Name[nn]=VPN-importering
Name[pl]=Importer VPN
Name[ru]=Импорт VPN
Name[sl]=Uvoznik VPN
Name[sv]=VPN-import
Name[tr]=VPN İçe Aktarıcısı
Name[uk]=Засіб імпортування VPN
Name[x-test]=xxVPN Importerxx
Name[zh_CN]=VPN 导入程序
Name[zh_TW]=VPN 匯入工具
NoDisplay=true
Exec=systemsettings kcm_networkmanagement --args VPN=%f
Icon=network-vpn
MimeType=application/x-openvpn-profile;application/x-cisco-vpn-settings
X-KDE-AliasFor=systemsettings
