[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_iodineui
X-NetworkManager-Services=org.freedesktop.NetworkManager.iodine
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_iodineui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Iodine DNS tunnel (iodine)
Name[ca]=Túnel de DNS Iodine (iodine)
Name[ca@valencia]=Túnel de DNS Iodine (iodine)
Name[da]=Iodine DNS-tunnel (iodine)
Name[de]=Iodine DNS-Tunnel (iodine)
Name[el]=Διοχέτευση Iodine DNS (iodine)
Name[en_GB]=Iodine DNS tunnel (iodine)
Name[es]=Túnel DNS Iodine (iodine)
Name[eu]=Iodine DNS-tunela (iodine)
Name[fi]=Iodine-DNS-tunneli (iodine)
Name[fr]=Tunnel DNS Iodine (iodine)
Name[gl]=Túnel DNS de Iodine (iodine)
Name[hu]=Iodine DNS tunnel (iodine)
Name[id]=Iodine DNS tunnel (iodine)
Name[it]=Tunnel DNS Iodine
Name[ko]=Iodine DNS 터널(iodine)
Name[lt]=Iodine DNS tunelis (iodine)
Name[nl]=Iodine DNS tunnel (iodine)
Name[nn]=Iodine DNS-tunell (iodine)
Name[pa]=ਆਈਓਡੀਨ DNS ਟਨਲ (iodine)
Name[pl]=Tunel Iodine DNS (iodine)
Name[pt]=Túnel de DNS do Iodine (iodine)
Name[pt_BR]=Túnel Iodine DNS (iodine)
Name[ru]=DNS-туннель iodine
Name[sk]=Iodine DNS tunel (iodine)
Name[sl]=Tunel DNS Iodine (iodine)
Name[sr]=Ајодинов ДНС тунеловање (Ајодин)
Name[sr@ijekavian]=Ајодинов ДНС тунеловање (Ајодин)
Name[sr@ijekavianlatin]=Iodineov DNS tunelovanje (Iodine)
Name[sr@latin]=Iodineov DNS tunelovanje (Iodine)
Name[sv]=Iodine DNS-tunnel (iodine)
Name[tr]=Iodine DNS tüneli (iodine)
Name[uk]=Тунель Iodine DNS (iodine)
Name[x-test]=xxIodine DNS tunnel (iodine)xx
Name[zh_CN]=Iodine DNS 隧道 (iodine)
Name[zh_TW]=Iodine DNS 通道 (iodine)
Comment=Tunnel connections via DNS
Comment[ca]=Túnel de connexions via DNS
Comment[ca@valencia]=Túnel de connexions via DNS
Comment[da]=Tunnelforbindelser via DNS
Comment[de]=Getunnelte Verbindungen via DNS
Comment[el]=Διοχέτευση συνδέσεων μέσω DNS
Comment[en_GB]=Tunnel connections via DNS
Comment[es]=Conexiones de túnel que usan DNS
Comment[eu]=Tunel konexioak DNS bidez
Comment[fi]=Tunneliyhteydet DNS:n kautta
Comment[fr]=Connexions tunnel via DNS
Comment[gl]=Conexións por túnel mediante DNS
Comment[hu]=Tunnelkapcsolatok DNS-en keresztül
Comment[id]=Koneksi tunnel via DNS
Comment[it]=Incapsula le connessioni tramite DNS
Comment[ko]=DNS로 연결 터널링
Comment[nl]=Tunnelverbindingen via DNS
Comment[nn]=Tunellsamband via DNS
Comment[pa]=DNS ਰਾਹੀਂ ਕਨੈਕਸ਼ਨ ਟਨਲ
Comment[pl]=Połączenie tunelowe przez DNS
Comment[pt]=Ligações-túnel através de DNS
Comment[pt_BR]=Conexões túnel via DNS
Comment[ru]=Протокол туннелирования iodine через DNS
Comment[sk]=Tunelovať pripojenia cez DNS
Comment[sl]=Tuneliranje povezav preko DNS
Comment[sr]=Тунеловање веза преко ДНС‑а
Comment[sr@ijekavian]=Тунеловање веза преко ДНС‑а
Comment[sr@ijekavianlatin]=Tunelovanje veza preko DNS‑a
Comment[sr@latin]=Tunelovanje veza preko DNS‑a
Comment[sv]=Tunnelanslutningar via DNS
Comment[tr]=DNS üzerinden tünel bağlantıları
Comment[uk]=Тунельоване з’єднання за допомогою DNS
Comment[x-test]=xxTunnel connections via DNSxx
Comment[zh_CN]=通过 DNS 的隧道链接
Comment[zh_TW]=透過 DNS 的通道連線
