[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_iodineui
X-NetworkManager-Services=org.freedesktop.NetworkManager.iodine
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_iodineui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Iodine DNS tunnel (iodine)
Name[ca]=Túnel de DNS Iodine (iodine)
Name[ca@valencia]=Túnel de DNS Iodine (iodine)
Name[nl]=Iodine DNS tunnel (iodine)
Name[pt]=Túnel de DNS do Iodine (iodine)
Name[sv]=Iodine DNS-tunnel (iodine)
Name[uk]=Тунель Iodine DNS (iodine)
Name[x-test]=xxIodine DNS tunnel (iodine)xx
Comment=Tunnel connections via DNS
Comment[ca]=Túnel de connexions via DNS
Comment[ca@valencia]=Túnel de connexions via DNS
Comment[nl]=Tunnelverbindingen via DNS
Comment[pt]=Ligações-túnel através de DNS
Comment[sv]=Tunnelanslutningar via DNS
Comment[uk]=Тунельоване з’єднання за допомогою DNS
Comment[x-test]=xxTunnel connections via DNSxx
