[Desktop Entry]
Name=Plasma Networkmanagement module
Name[bg]=Модул за настройка на мрежата
Name[bs]=Plasma Networkmanagement režim
Name[ca]=Mòdul de Plasma per a la Gestió de la xarxa
Name[ca@valencia]=Mòdul de Plasma per a la Gestió de la xarxa
Name[cs]=Modul Plasma Networkmanagement
Name[da]=Plasma netværkshåndteringsmodul
Name[de]=Plasma-Netzwerkverwaltungsmodul
Name[el]=Άρθρωμα Plasma για τη διαχείριση δικτύων
Name[en_GB]=Plasma Networkmanagement module
Name[es]=Módulo Networkmanagement de Plasma
Name[et]=Plasma võrguhalduse moodul
Name[fi]=Plasman verkonhallintamoduuli
Name[fr]=Module « Networkmanagement » pour Plasma
Name[hu]=Plasma hálózatkezelés modul
Name[it]=Modulo della gestione di rete di Plasma
Name[ko]=Plasma 네트워크 관리 모듈
Name[lt]=Plasma tinklo valdymo modulis
Name[nb]=Plasma-modul for nettverksstyring
Name[nds]=Plasma-Nettwarkpleegmoduul
Name[nl]=Plasma module voor netwerkbeheer
Name[pl]=Moduł zarządzania siecią Plazmy
Name[pt]=Módulo de Gestão de Rede do Plasma
Name[pt_BR]=Módulo do Networkmanagement para o Plasma
Name[ro]=Modul Plasma pentru gestiunea rețelei
Name[ru]=Модуль для управления сетью
Name[sk]=Modul Plasma správa siete
Name[sl]=Modul upravljanja omrežij za Plasmo
Name[sv]=Plasma nätverkshanteringsmodul
Name[tr]=Plasma Ağ yönetimi modülü
Name[uk]=Модуль керування мережею Плазми
Name[x-test]=xxPlasma Networkmanagement modulexx
Name[zh_CN]=Plasma 网络管理模块
Comment=Provides secrets to the NetworkManager daemon
Comment[bs]=Pruža tajne Upravljaču mreže daemon
Comment[ca]=Proporciona secrets al dimoni NetworkManager
Comment[ca@valencia]=Proporciona secrets al dimoni NetworkManager
Comment[cs]=Poskytuje přihlašovací informace pro službu NetworkManageru
Comment[da]=Giver hemmeligheder til NetworkManager-dæmonen
Comment[de]=Stellt dem NetworkManager-Dienst vertrauliche Daten zur Verfügung
Comment[el]=Παρέχει κωδικούς ασφαλείας στον δαίμονας NetworkManager
Comment[en_GB]=Provides secrets to the NetworkManager daemon
Comment[es]=Proporciona secretos para el demonio NetworkManager
Comment[et]=Saladuste edastamine NetworkManageri deemonile
Comment[fi]=Välittää salaisuuksia NetworkManager-palvelulle
Comment[fr]=Fournit des mots de passe pour le démon NetworkManager
Comment[hu]=Titkokat biztosít a NetworkManager démonhoz
Comment[it]=Fornisce i segreti al demone NetworkManager
Comment[ko]=NetworkManager 데몬에 비밀 정보 제공
Comment[lt]=Teikia slapukus NetworkManager tarnybai
Comment[nb]=Forsyner NetworkManager-daemonen med hemmeligheter
Comment[nds]=Stellt Anmellinformatschonen för den NetworkManager-Dämoon praat
Comment[nl]=Levert secrets aan de NetworkManager-daemon
Comment[pl]=Dostarcza danych poufnych do demona Menadżera Sieci Sieci
Comment[pt]=Fornece as senhas do serviço NetworkManager
Comment[pt_BR]=Fornece as senhas do serviço NetworkManager
Comment[ro]=Furnizează secrete către demonul NetworkManager
Comment[ru]=Предоставляет пароли и ключи демону NetworkManager
Comment[sk]=Poskytuje tajnosti k démonu NetworkManager
Comment[sl]=Ponuja skrivnosti za ozadnji program NetworkManager
Comment[sv]=Tillhandahåller hemligheter till nätverkshanteringsdemonen
Comment[tr]=AğYönetici yardımcısına şifreleri sağlar
Comment[uk]=Надає реєстраційні дані фоновій службі NetworkManager
Comment[x-test]=xxProvides secrets to the NetworkManager daemonxx
Comment[zh_CN]=为 NetworkManager 守护程序提供密码
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=networkmanagement
X-KDE-DBus-ModuleName=networkmanagement
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1
OnlyShowIn=KDE;
