[Desktop Entry]
Name=Plasma Networkmanagement module
Name[cs]=Modul Plasma Networkmanagement
Name[es]=Modulo de gestión de redes de Plasma
Name[nl]=Plasma module voor netwerkbeheer
Name[pl]=Moduł zarządzania siecią Plazmy
Name[pt]=Módulo de Gestão de Rede do Plasma
Name[sk]=Modul Plasma správa siete
Name[sv]=Plasma nätverkshanteringsmodul
Name[uk]=Модуль керування мережею Плазми
Name[x-test]=xxPlasma Networkmanagement modulexx
Comment=Provides secrets to the NetworkManager daemon
Comment[cs]=Poskytuje přihlašovací informace pro službu NetworkManageru
Comment[nl]=Levert secrets aan de NetworkManager-daemon
Comment[pl]=Dostarcza danych poufnych do usługi Zarządzania Sieci
Comment[pt]=Fornece as senhas do serviço NetworkManager
Comment[sk]=Poskytuje tajnosti k démonu NetworkManager
Comment[sv]=Tillhandahåller hemligheter till nätverkshanteringsdemonen
Comment[uk]=Надає реєстраційні дані фоновій службі NetworkManager
Comment[x-test]=xxProvides secrets to the NetworkManager daemonxx
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=networkmanagement
X-KDE-DBus-ModuleName=networkmanagement
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1
OnlyShowIn=KDE;
