[Desktop Entry]
Name=Plasma Networkmanagement module
Name[cs]=Modul Plasma Networkmanagement
Name[nl]=Plasma module voor netwerkbeheer
Name[pt]=Módulo de Gestão de Rede do Plasma
Name[sv]=Plasma nätverkshanteringsmodul
Name[uk]=Модуль керування мережею Плазми
Name[x-test]=xxPlasma Networkmanagement modulexx
Comment=Provides secrets to the NetworkManager daemon
Comment[cs]=Poskytuje přihlašovací informace pro službu NetworkManageru
Comment[nl]=Levert secrets aan de NetworkManager-daemon
Comment[pt]=Fornece as senhas do serviço NetworkManager
Comment[sv]=Tillhandahåller hemligheter till nätverkshanteringsdemonen
Comment[uk]=Надає реєстраційні дані фоновій службі NetworkManager
Comment[x-test]=xxProvides secrets to the NetworkManager daemonxx
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=networkmanagement
X-KDE-DBus-ModuleName=networkmanagement
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1
OnlyShowIn=KDE;
