[Desktop Entry]
Name=Plasma NM module
Name[pt]=Módulo do NM para o Plasma
Name[pt_BR]=Módulo do NM para o Plasma
Name[sv]=Plasma NH-modul
Name[uk]=Модуль керування мережею Плазми
Name[x-test]=xxPlasma NM modulexx
Comment=Provides secrets to the NetworkManager daemon
Comment[pt]=Fornece as senhas do serviço NetworkManager
Comment[pt_BR]=Fornece as senhas do serviço NetworkManager
Comment[sv]=Tillhandahåller hemligheter till nätverkshanteringsdemonen
Comment[uk]=Надає реєстраційні дані фоновій службі NetworkManager
Comment[x-test]=xxProvides secrets to the NetworkManager daemonxx
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=plasmanm
X-KDE-DBus-ModuleName=plasmanm
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1
OnlyShowIn=KDE;
