[Desktop Entry]
Name=Plasma NM module
Name[cs]=Modul NM pro Plasmu
Name[da]=Plasma NM-modul
Name[de]=Plasma-NM-Modul
Name[fi]=Plasma NM -moduuli
Name[fr]=Module NM pour Plasma
Name[nl]=Plasma NM module
Name[pl]=Moduł Plazmy: Menadżer Sieci
Name[pt]=Módulo do NM para o Plasma
Name[pt_BR]=Módulo do NM para o Plasma
Name[sk]=Plasma NM modul
Name[sv]=Plasma NH-modul
Name[tr]=Plasma NM modülü
Name[uk]=Модуль керування мережею Плазми
Name[x-test]=xxPlasma NM modulexx
Name[zh_CN]=Plasma NM 模块
Comment=Provides secrets to the NetworkManager daemon
Comment[cs]=Poskytuje přihlašovací informace pro službu NetworkManageru
Comment[da]=Giver hemmeligheder til NetworkManager-dæmonen
Comment[fi]=Välittää salaisuuksia NetworkManager-palvelulle
Comment[fr]=Fournit des mots de passe pour le démon NetworkManager
Comment[nl]=Levert secrets aan de NetworkManager-daemon
Comment[pl]=Dostarcza danych poufnych do demona Menadżera Sieci Sieci
Comment[pt]=Fornece as senhas do serviço NetworkManager
Comment[pt_BR]=Fornece as senhas do serviço NetworkManager
Comment[sk]=Poskytuje tajnosti k démonu NetworkManager
Comment[sv]=Tillhandahåller hemligheter till nätverkshanteringsdemonen
Comment[tr]=AğYönetici yardımcısına şifreleri sağlar
Comment[uk]=Надає реєстраційні дані фоновій службі NetworkManager
Comment[x-test]=xxProvides secrets to the NetworkManager daemonxx
Comment[zh_CN]=为 NetworkManager 守护程序提供密码
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=plasmanm
X-KDE-DBus-ModuleName=plasmanm
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1
OnlyShowIn=KDE;
