[Desktop Entry]
Name=Notifications
Name[cs]=Oznamování
Name[nl]=Meldingen
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[sk]=Pripomienky
Name[sv]=Underrättelser
Name[uk]=Сповіщення
Name[x-test]=xxNotificationsxx
Comment=Configure the Network Management notifications
Comment[cs]=Nastavit oznamování správy sítě
Comment[nl]=Stel de meldingen van netwerkbeheer in
Comment[pl]=Ustawienia powiadomień zarządzania siecią
Comment[pt]=Configurar as notificações da Gestão da Rede
Comment[sk]=Nastaviť upozornenia správy siete
Comment[sv]=Anpassa underrättelser för nätverkshantering
Comment[uk]=Налаштування сповіщень щодо керування мережею
Comment[x-test]=xxConfigure the Network Management notificationsxx
Type=Service
Exec=kcmshell4 networkmanagement_notifications
Icon=preferences-desktop-notification
X-KDE-ServiceTypes=KCModule
X-KDE-Library=networkmanagement_notifications
X-KDE-FactoryName=networkmanagement_notifications
Categories=Qt;KDE;X-KDE-settings-system;
Visible=false;
