[Desktop Entry]
Name=Notifications
Name[bg]=Уведомления
Name[bs]=obavještenja
Name[ca]=Notificacions
Name[ca@valencia]=Notificacions
Name[cs]=Oznamování
Name[da]=Bekendtgørelser
Name[de]=Benachrichtigungen
Name[el]=Ειδοποιήσεις
Name[en_GB]=Notifications
Name[es]=Notificaciones
Name[et]=Märguanded
Name[fi]=Ilmoitukset
Name[fr]=Notifications
Name[hu]=Értesítések
Name[it]=Notifiche
Name[ko]=알림
Name[lt]=Pranešimai
Name[nb]=Varslinger
Name[nds]=Bescheden
Name[nl]=Meldingen
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[ro]=Notificări
Name[sk]=Upozornenia
Name[sl]=Obvestila
Name[sv]=Underrättelser
Name[tr]=Bildirimler
Name[ug]=ئۇقتۇرۇشلار
Name[uk]=Сповіщення
Name[x-test]=xxNotificationsxx
Name[zh_CN]=通知
Comment=Configure the Network Management notifications
Comment[bg]=Настройки на уведомления на управлението на мрежата
Comment[bs]=Definiše Network Management za upravljanje mrežom
Comment[ca]=Configura les notificacions del Gestor de la xarxa
Comment[ca@valencia]=Configura les notificacions del Gestor de la xarxa
Comment[cs]=Nastavit oznamování správy sítě
Comment[da]=Indstil bekendtgørelser for netværkshåndtering
Comment[de]=Einrichtung der Benachrichtigungen für die Netzwerkverwaltung
Comment[el]=Διαμόρφωση ειδοποιήσεων της διαχείρισης δικτύων
Comment[en_GB]=Configure the Network Management notifications
Comment[es]=Configure las notificaciones del gestor de red
Comment[et]=Võrguhalduri märguannete seadistamine
Comment[fi]=Verkonhallinnan ilmoitusten asetukset
Comment[fr]=Configure les notifications de gestion de réseau
Comment[hu]=A hálózatkezelő értesítéseinek beállítása
Comment[it]=Configura le notifiche della gestione di rete
Comment[ko]=네트워크 관리 알림 설정
Comment[lt]=Konfigūruoti Tinklo valdymo pranešimus
Comment[nb]=Sett opp varslinger for nettverkstyring
Comment[nds]=De Nettwarkpleeg-Bescheden instellen
Comment[nl]=Stel de meldingen van netwerkbeheer in
Comment[pl]=Ustawienia powiadomień zarządzania siecią
Comment[pt]=Configurar as notificações da Gestão da Rede
Comment[pt_BR]=Configura as notificações do gerenciamento de redes
Comment[ro]=Configurează notificările gestiunii de rețea
Comment[sk]=Nastaviť upozornenia správy siete
Comment[sl]=Nastavi obvestila za omrežno upravljanje
Comment[sv]=Anpassa underrättelser för nätverkshantering
Comment[tr]=Ağ Yönetim bilgilendirmelerini yapılandır
Comment[uk]=Налаштування сповіщень щодо керування мережею
Comment[x-test]=xxConfigure the Network Management notificationsxx
Comment[zh_CN]=配置网络管理通知
Type=Service
Exec=kcmshell4 networkmanagement_notifications
Icon=preferences-desktop-notification
X-KDE-ServiceTypes=KCModule
X-KDE-Library=networkmanagement_notifications
X-KDE-FactoryName=networkmanagement_notifications
Categories=Qt;KDE;X-KDE-settings-system;
Visible=false;
