[Desktop Entry]
Name=Notifications
Comment=Configure the Network Management notifications
Type=Service
Exec=kcmshell4 networkmanagement_notifications
Icon=preferences-desktop-notification
X-KDE-ServiceTypes=KCModule
X-KDE-Library=networkmanagement_notifications
X-KDE-FactoryName=networkmanagement_notifications
Categories=Qt;KDE;X-KDE-settings-system;
Visible=false;
