[Desktop Entry]
Icon=applications-internet
Type=Service
X-KDE-Library=kcm_network
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=network-and-connectivity

Name=Network
Name[bs]=Mreća
Name[cs]=Síť
Name[da]=Netværk
Name[de]=Netzwerk
Name[fi]=Verkko
Name[fr]=Réseau
Name[hu]=Hálózat
Name[nl]=Netwerk
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[sk]=Sieť
Name[sv]=Nätverk
Name[tr]=Ağ
Name[ug]=تور
Name[uk]=Мережа
Name[x-test]=xxNetworkxx
Name[zh_CN]=网络
Comment=Configure network interfaces
Comment[bs]=Konfiguriši mrežne interfejse
Comment[cs]=Nastavit síťová rozhraní
Comment[da]=Indstil netværkskort
Comment[de]=Netzwerkschnittstellen einrichten
Comment[fi]=Verkkoliitäntöjen asetukset
Comment[fr]=Configurer les interfaces réseau
Comment[hu]=Hálózati csatolók beállítása
Comment[nl]=Netwerkinterfaces instellen
Comment[pl]=Konfiguruj interfejsy sieciowe
Comment[pt]=Configurar as interfaces de rede
Comment[pt_BR]=Configura as interfaces de rede
Comment[sk]=Nastaviť sieťové rozhrania
Comment[sv]=Anpassa nätverksgränssnitt
Comment[tr]=Ağ arayüzlerini yapılandır
Comment[uk]=Налаштування інтерфейсів мережі
Comment[x-test]=xxConfigure network interfacesxx
Comment[zh_CN]=配置网络接口
