[Desktop Entry]
Icon=preferences-system-network
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_networkmanagement
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=40

Name=Connections
Name[ar]=الاتّصالات
Name[ast]=Conexones
Name[az]=Bağlantılar
Name[ca]=Connexions
Name[ca@valencia]=Connexions
Name[cs]=Spojení
Name[da]=Forbindelser
Name[de]=Verbindungen
Name[el]=Συνδέσεις
Name[en_GB]=Connections
Name[es]=Conexiones
Name[et]=Ühendused
Name[eu]=Konexioak
Name[fi]=Yhteydet
Name[fr]=Connexions
Name[gl]=Conexións
Name[he]=חיבורים
Name[hu]=Kapcsolatok
Name[ia]=Connexiones
Name[id]=Koneksi
Name[it]=Connessioni
Name[ja]=接続
Name[ko]=연결
Name[lt]=Ryšiai
Name[ml]=ബന്ധങ്ങള്‍
Name[nl]=Verbindingen
Name[nn]=Tilkoplingar
Name[pa]=ਕਨੈਕਸ਼ਨ
Name[pl]=Połączenia
Name[pt]=Ligações
Name[pt_BR]=Conexões
Name[ro]=Conexiuni
Name[ru]=Соединения
Name[sk]=Pripojenia
Name[sl]=Povezave
Name[sr]=Везе
Name[sr@ijekavian]=Везе
Name[sr@ijekavianlatin]=Veze
Name[sr@latin]=Veze
Name[sv]=Anslutningar
Name[ta]=இணைப்புகள்
Name[tg]=Пайвастҳо
Name[tr]=Bağlantılar
Name[uk]=З’єднання
Name[x-test]=xxConnectionsxx
Name[zh_CN]=连接
Name[zh_TW]=連線
Comment=Edit your Network Connections
Comment[ar]=حرّر اتّصالاتك الشّبكيّة
Comment[ast]=Edita les conexones de rede
Comment[az]=Şəbəkə bağlantılarınıza düzəliş edin
Comment[ca]=Edita les connexions de xarxa
Comment[ca@valencia]=Edita les connexions de xarxa
Comment[cs]=Upravit vaše síťová spojení
Comment[da]=Redigér dine netværksforbindelser
Comment[de]=Bearbeiten Sie Ihre Netzwerkverbindungen
Comment[el]=Επεξεργασία των συνδέσεων δικτύου
Comment[en_GB]=Edit your Network Connections
Comment[es]=Editar las conexiones de red
Comment[et]=Võrguühenduste muutmine
Comment[eu]=Editatu zure sareko konexioak
Comment[fi]=Verkkoyhteyksien muokkaus
Comment[fr]=Modifier vos connexions réseau
Comment[gl]=Edite as súas conexións de rede
Comment[he]=ערוך את חיבורי הרשת שלך
Comment[hu]=A hálózati kapcsolatok szerkesztése
Comment[ia]=Modifica tu Connexiones de Rete
Comment[id]=Edit Koneksi Jaringanmu
Comment[it]=Modifica le tue connessioni di rete
Comment[ja]=ネットワーク接続を編集
Comment[ko]=네트워크 연결 편집
Comment[lt]=Taisyti tinklo ryšius
Comment[ml]=നിങ്ങളുടെ നെറ്റ്‌വർക്ക് ബന്ധങ്ങള്‍ എഡിറ്റുചെയ്യുക
Comment[nl]=Bewerk uw netwerkverbindingen
Comment[nn]=Rediger nettverkstilkoplingar
Comment[pa]=ਆਪਣੇ ਨੈੱਟਵਰਕ ਕਨੈਕਸ਼ਨਾਂ ਨੂੰ ਸੋਧੋ
Comment[pl]=Edytuj swoje połączenia sieciowe
Comment[pt]=Editar as Suas Ligações de Rede
Comment[pt_BR]=Edite suas conexões de rede
Comment[ro]=Modificați conexiunile de rețea
Comment[ru]=Настройка сетевых соединений
Comment[sk]=Upravuje vaše sieťové pripojenia
Comment[sl]=Uredite vaše omrežne povezave
Comment[sr]=Уређујте мрежне везе
Comment[sr@ijekavian]=Уређујте мрежне везе
Comment[sr@ijekavianlatin]=Uređujte mrežne veze
Comment[sr@latin]=Uređujte mrežne veze
Comment[sv]=Redigera dina nätverksanslutningar
Comment[ta]=உங்கள் பிணைய இணைப்புகளை திருத்துங்கள்
Comment[tr]=Ağ bağlantılarınızı düzenleyin
Comment[uk]=Редагування ваших записів з’єднань з мережею
Comment[x-test]=xxEdit your Network Connectionsxx
Comment[zh_CN]=编辑您的网络连接
Comment[zh_TW]=編輯您的網路連線
X-KDE-Keywords=networks,wifi,wi-fi,ethernet,mobile,cdma,gsm,lte,wimax,apn,carrier,2g,3g,4g,5g,5ge,broadband,internet,traffic,connections,websites,web,DSL,infiniband,wired,wireless,bssid,ipv4,ipv6,mac address,ip,access point,dns,gateway,wep,leap,wpa,wpa2,wpa3,dhcp,shared network,private network,public network,vpn,openvpn,wireguard,fortinet,juniper,l2tp,pptp,sstp,ssh,iodine,ipsec,anyconnect,openconnect
