[Desktop Entry]
Exec=kcmshell5 kcm_networkmanagement
Icon=preferences-system-network
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_networkmanagement
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=40

Name=Connections
Name[ca]=Connexions
Name[ca@valencia]=Connexions
Name[cs]=Spojení
Name[da]=Forbindelser
Name[de]=Verbindungen
Name[el]=Συνδέσεις
Name[en_GB]=Connections
Name[es]=Conexiones
Name[fi]=Yhteydet
Name[it]=Connessioni
Name[ko]=연결
Name[nl]=Verbindingen
Name[nn]=Tilkoplingar
Name[pl]=Połączenia
Name[pt]=Ligações
Name[pt_BR]=Conexões
Name[ru]=Соединения
Name[sk]=Pripojenia
Name[sr]=Везе
Name[sr@ijekavian]=Везе
Name[sr@ijekavianlatin]=Veze
Name[sr@latin]=Veze
Name[sv]=Anslutningar
Name[uk]=З’єднання
Name[x-test]=xxConnectionsxx
Name[zh_CN]=连接
Name[zh_TW]=連線
Comment=Edit your Network Connections
Comment[ca]=Edita les connexions de xarxa
Comment[ca@valencia]=Edita les connexions de xarxa
Comment[cs]=Upravit vaše síťová spojení
Comment[da]=Redigér dine netværksforbindelser
Comment[de]=Bearbeiten Sie Ihre Netzwerkverbindungen
Comment[el]=Επεξεργασία των συνδέσεων δικτύου
Comment[en_GB]=Edit your Network Connections
Comment[es]=Editar las conexiones de red
Comment[fi]=Verkkoyhteyksien muokkaus
Comment[it]=Modifica le tue connessioni di rete
Comment[ko]=네트워크 연결 편집
Comment[nl]=Bewerk uw netwerkverbindingen
Comment[nn]=Rediger nettverkstilkoplingar
Comment[pl]=Edytuj swoje połączenia sieciowe
Comment[pt]=Editar as Suas Ligações de Rede
Comment[pt_BR]=Edite as suas conexões de rede
Comment[ru]=Настройка сетевых соединений
Comment[sk]=Upraviť vaše sieťové pripojenia
Comment[sr]=Уређујте мрежне везе
Comment[sr@ijekavian]=Уређујте мрежне везе
Comment[sr@ijekavianlatin]=Uređujte mrežne veze
Comment[sr@latin]=Uređujte mrežne veze
Comment[sv]=Redigera dina nätverksanslutningar
Comment[uk]=Редагування ваших записів з’єднань з мережею
Comment[x-test]=xxEdit your Network Connectionsxx
Comment[zh_CN]=编辑您的网络连接
Comment[zh_TW]=編輯您的網路連線
X-KDE-Keywords=network,wifi,ethernet,mobile,broadband,vpn,internet,traffic
X-KDE-Keywords[ca]=xarxa,wifi,ethernet,mòbil,banda ampla,vpn,internet,tràfic
X-KDE-Keywords[ca@valencia]=xarxa,wifi,ethernet,mòbil,banda ampla,vpn,internet,tràfic
X-KDE-Keywords[da]=netværk,wifi,ethernet,mobilt,bredbånd,vpn,internet,trafik
X-KDE-Keywords[de]=network,wifi,ethernet,mobile,broadband,vpn,internet,traffic,netzwerk,mobil,breitband
X-KDE-Keywords[el]=δίκτυο,wifi,ethernet,κινητό,ευρυζωνική,vpn,internet,κίνηση
X-KDE-Keywords[en_GB]=network,wifi,ethernet,mobile,broadband,vpn,internet,traffic
X-KDE-Keywords[es]=red,wifi,ethernet,móvil,banda ancha,vpn,internet,tráfico
X-KDE-Keywords[it]=rete,wifi,ethernet,mobile,banda larga,vpn,internet,traffico
X-KDE-Keywords[ko]=network,wifi,ethernet,mobile,broadband,vpn,internet,traffic,네트워크,와이파이,무선랜,이더넷,모바일,광대역,인터넷,트래픽
X-KDE-Keywords[nl]=netwerk,wifi,ethernet,mobiel,breedband,vpn,internet,verkeer
X-KDE-Keywords[nn]=nettverk,wifi,trådlaus,Ethernet,mobilt,breiband,VPN,Internett,trafikk,tilkopling,samband
X-KDE-Keywords[pl]=sieć,wifi,ethernet,komórkowy,mobilny,przenośny,szerokopasmowy,vpn,internet,ruch
X-KDE-Keywords[pt]=rede,wifi,ethernet,móvel,banda larga,vpn,internet,tráfego
X-KDE-Keywords[ru]=network,wifi,ethernet,mobile,broadband,vpn,internet,traffic,сеть,беспроводная сеть,мобильный Интернет,широкополосная сеть,Интернет,трафик,вайфай,впн,виртуальная частная сеть,локальная сеть
X-KDE-Keywords[sk]=sieť,wifi,ethernet,mobil,broadband,vpn,internet,prenos
X-KDE-Keywords[sr]=network,wifi,ethernet,mobile,broadband,vpn,internet,traffic,мрежа,вај‑фај,етернет,мобилни,широкопојасни,ВПН,Интернет,саобраћај
X-KDE-Keywords[sr@ijekavian]=network,wifi,ethernet,mobile,broadband,vpn,internet,traffic,мрежа,вај‑фај,етернет,мобилни,широкопојасни,ВПН,Интернет,саобраћај
X-KDE-Keywords[sr@ijekavianlatin]=network,wifi,ethernet,mobile,broadband,vpn,internet,traffic,mreža,Wi‑Fi,Ethernet,mobilni,širokopojasni,VPN,Internet,saobraćaj
X-KDE-Keywords[sr@latin]=network,wifi,ethernet,mobile,broadband,vpn,internet,traffic,mreža,Wi‑Fi,Ethernet,mobilni,širokopojasni,VPN,Internet,saobraćaj
X-KDE-Keywords[sv]=nätverk,wifi,ethernet,mobil,bredband,vpn,internet,trafik
X-KDE-Keywords[uk]=network,wifi,ethernet,mobile,broadband,vpn,internet,traffic,мережа,вайфай,езернет,мобільна,широкосмугова,впн,інтернет,обмін,даними
X-KDE-Keywords[x-test]=xxnetworkxx,xxwifixx,xxethernetxx,xxmobilexx,xxbroadbandxx,xxvpnxx,xxinternetxx,xxtrafficxx
X-KDE-Keywords[zh_CN]=network,wifi,ethernet,mobile,broadband,vpn,internet,traffic,网络,无线,以太网,移动,宽带,互联网,因特网,流量
X-KDE-Keywords[zh_TW]=network,wifi,ethernet,mobile,broadband,vpn,internet,traffic
