[Desktop Entry]
Icon=applications-internet
Type=Service
X-KDE-Library=kcm_network
X-KDE-ParentApp=kcontrol
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=network-and-connectivity

Name=Network
Name[da]=Netværk
Name[nl]=Netwerk
Name[pt]=Rede
Name[pt_BR]=Rede
Name[sv]=Nätverk
Name[uk]=Мережа
Name[x-test]=xxNetworkxx
Comment=Configure network interfaces
Comment[da]=Indstil netværkskort
Comment[pt]=Configurar as interfaces de rede
Comment[pt_BR]=Configura as interfaces de rede
Comment[sv]=Anpassa nätverksgränssnitt
Comment[uk]=Налаштування інтерфейсів мережі
Comment[x-test]=xxConfigure network interfacesxx
