[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_vpncui
X-NetworkManager-Services=org.freedesktop.NetworkManager.vpnc
X-KDE-PluginInfo-Author=Lukáš Tinkl
X-KDE-PluginInfo-Email=ltinkl@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_vpncui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=VPNC
Name[bg]=VPNC
Name[bs]=VPNC
Name[ca]=VPNC
Name[ca@valencia]=VPNC
Name[cs]=VPNC
Name[da]=VPNC
Name[de]=VPNC
Name[el]=VPNC
Name[en_GB]=VPNC
Name[es]=VPNC
Name[et]=VPNC
Name[fi]=VPNC
Name[fr]=VPNC
Name[hu]=VPNC
Name[it]=VPNC
Name[ko]=VPNC
Name[lt]=VPNC
Name[nb]=VPNC
Name[nds]=VPNC
Name[nl]=VPNC
Name[pl]=VPNC
Name[pt]=VPNC
Name[pt_BR]=VPNC
Name[ro]=VPNC
Name[ru]=VPNC
Name[sk]=VPNC
Name[sl]=VPNC
Name[sv]=VPNC
Name[tr]=VPNC
Name[ug]=VPNC
Name[uk]=VPNC
Name[x-test]=xxVPNCxx
Name[zh_CN]=VPNC
Comment=VPNC Plugin
Comment[bg]=Приставка за VPNC
Comment[bs]=VPNC Dodatak
Comment[ca]=Connector de VPNC
Comment[ca@valencia]=Connector de VPNC
Comment[cs]=Modul VPNC
Comment[da]=VPNC-plugin
Comment[de]=VPNC-Modul
Comment[el]=Πρόσθετο VPNC
Comment[en_GB]=VPNC Plugin
Comment[es]=Complemento VPNC
Comment[et]=VPNC plugin
Comment[fi]=VPNC-liitännäinen
Comment[fr]=Module externe VPNC
Comment[hu]=VPNC bővítmény
Comment[it]=Estensione VPNC
Comment[ko]=VPNC 플러그인
Comment[lt]=VPNC papildinys
Comment[nb]=VPNC programtillegg
Comment[nds]=VPNC-Moduul
Comment[nl]=VPNC-plugin
Comment[pl]=Wtyczka VPNC
Comment[pt]='Plugin' do VPNC
Comment[pt_BR]=Plugin do VPNC
Comment[ro]=Modul VPNC
Comment[ru]=Модуль VPNC
Comment[sk]=VPNC modul
Comment[sl]=Vstavek VPNC
Comment[sv]=Insticksprogram för VPNC
Comment[tr]=VPNC Eklentisi
Comment[ug]=VPNC قىستۇرمىسى
Comment[uk]=Додаток VPNC
Comment[x-test]=xxVPNC Pluginxx
Comment[zh_CN]=VPNC 插件
