[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNM/VpnUiPlugin
X-KDE-Library=plasmanm_vpncui
X-NetworkManager-Services=org.freedesktop.NetworkManager.vpnc
X-KDE-PluginInfo-Author=Lukáš Tinkl
X-KDE-PluginInfo-Email=ltinkl@redhat.com
X-KDE-PluginInfo-Name=plasmanm_vpncui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=VPNC
Name[cs]=VPNC
Name[pt]=VPNC
Name[pt_BR]=VPNC
Name[sv]=VPNC
Name[uk]=VPNC
Name[x-test]=xxVPNCxx
Comment=VPNC Plugin
Comment[cs]=Modul VPNC
Comment[pt]='Plugin' do VPNC
Comment[pt_BR]=Plugin do VPNC
Comment[sv]=Insticksprogram för VPNC
Comment[uk]=Додаток VPNC
Comment[x-test]=xxVPNC Pluginxx
