[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_sshui
X-NetworkManager-Services=org.freedesktop.NetworkManager.ssh
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_sshui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=SSH
Name[ca]=SSH
Name[cs]=SSH
Name[de]=SSH
Name[en_GB]=SSH
Name[es]=SSH
Name[fi]=SSH
Name[gl]=SSH
Name[it]=SSH
Name[nb]=SSH
Name[nl]=SSH
Name[pl]=SSH
Name[pt]=SSH
Name[pt_BR]=SSH
Name[sk]=SSH
Name[sr]=ССХ
Name[sr@ijekavian]=ССХ
Name[sr@ijekavianlatin]=SSH
Name[sr@latin]=SSH
Name[sv]=SSH
Name[tr]=SSH
Name[uk]=SSH
Name[x-test]=xxSSHxx
Name[zh_CN]=SSH
Name[zh_TW]=SSH
Comment=SSH Plugin
Comment[ca]=Connector de l'SSH
Comment[cs]=Modul SSH
Comment[de]=SSH-Modul
Comment[en_GB]=SSH Plugin
Comment[es]=Complemento SSH
Comment[fi]=SSH-liitännäinen
Comment[gl]=Complemento de SSH
Comment[it]=Estensione SSH
Comment[nl]=SSH-plug-in
Comment[pl]=Wtyczka SSH
Comment[pt]='Plugin' de SSH
Comment[pt_BR]=Plugin de SSH
Comment[sk]=SSH plugin
Comment[sr]=Прикључак ССХ‑а
Comment[sr@ijekavian]=Прикључак ССХ‑а
Comment[sr@ijekavianlatin]=Priključak SSH‑a
Comment[sr@latin]=Priključak SSH‑a
Comment[sv]=Insticksprogram för SSH
Comment[tr]=SSH Eklentisi
Comment[uk]=Додаток SSH
Comment[x-test]=xxSSH Pluginxx
Comment[zh_CN]=SSH 插件
Comment[zh_TW]=SSH 外掛程式 
