[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_fortisslvpnui
X-NetworkManager-Services=org.freedesktop.NetworkManager.fortisslvpn
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_fortisslvpnui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Fortinet SSLVPN (fortisslvpn)
Name[ca]=Fortinet SSLVPN (fortisslvpn)
Name[es]=SSLVPN de Fortinet (fortisslvpn)
Name[it]=Fortinet SSLVPN (fortisslvpn)
Name[nl]=Fortinet SSLVPN (fortisslvpn)
Name[pt]=SSLVPN do Fortinet (fortisslvpn)
Name[sv]=Fortinet SSLVPN (fortisslvpn)
Name[uk]=Fortinet SSLVPN (fortisslvpn)
Name[x-test]=xxFortinet SSLVPN (fortisslvpn)xx
Comment=Fortinet SSLVPN virtual private networks
Comment[ca]=Xarxes privades virtuals Fortinet SSLVPN
Comment[es]=Redes privadas virtuales SSLVPN de Fortinet
Comment[it]=Reti private virtuali Fortinet SSLVPN
Comment[nl]=Fortinet SSLVPN virtuele private netwerken
Comment[pt]=Redes privadas virtuais do SSLVPN do Fortinet
Comment[sv]=Fortinet SSLVPN virtuella privata nätverk
Comment[uk]=Віртуальні приватні мережі SSLVPN Fortinet
Comment[x-test]=xxFortinet SSLVPN virtual private networksxx

