[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_strongswanui
X-NetworkManager-Services=org.freedesktop.NetworkManager.strongswan
X-KDE-PluginInfo-Author=Lukáš Tinkl
X-KDE-PluginInfo-Email=ltinkl@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_strongswanui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=IPsec based VPN (strongswan)
Name[nl]=Op IPsec gebaseerde VPN (strongswan)
Name[pt]=VPN baseada em IPsec (strongswan)
Name[sv]=IPsec-baserad VPN (strongswan)
Name[x-test]=xxIPsec based VPN (strongswan)xx
Comment=IPsec, IKEv1, IKEv2 based VPN
Comment[nl]=Op IPsec, IKEv1, IKEv2 gebaseerde VPN
Comment[pt]=VPN baseada em IPsec, IKEv1, IKEv2
Comment[sv]=IPsec, IKEv1, IKEv2-baserad VPN
Comment[x-test]=xxIPsec, IKEv1, IKEv2 based VPNxx
