[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_strongswanui
X-NetworkManager-Services=org.freedesktop.NetworkManager.strongswan
X-KDE-PluginInfo-Author=Lukáš Tinkl
X-KDE-PluginInfo-Email=ltinkl@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_strongswanui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=StrongSwan
Name[cs]=StrongSwan
Name[da]=StrongSwan
Name[de]=StrongSwan
Name[el]=StrongSwan
Name[es]=StrongSwan
Name[fi]=StrongSwan
Name[fr]=StrongSwan
Name[hu]=StrongSwan
Name[nl]=StrongSwan
Name[pt]=StrongSwan
Name[pt_BR]=StrongSwan
Name[ro]=StrongSwan
Name[sk]=StrongSwan
Name[sl]=StrongSwan
Name[sv]=StrongSwan
Name[tr]=StrongSwan
Name[uk]=StrongSwan
Name[x-test]=xxStrongSwanxx
Name[zh_CN]=StrongSwan
Comment=StrongSwan Plugin
Comment[cs]=Modul StrongSwan
Comment[da]=StrongSwan-plugin
Comment[de]=StrongSwan-Modul
Comment[el]=Πρόσθετο StrongSwan
Comment[es]=Complemento StrongSwan
Comment[fi]=StrongSwan-liitännäinen
Comment[fr]=Module externe StrongSwan
Comment[hu]=StrongSwan bővítmény
Comment[nl]=Plugin voor StrongSwan
Comment[pt]='Plugin' do StrongSwan
Comment[pt_BR]=Plugin do StrongSwan
Comment[ro]=Modul StrongSwan
Comment[sk]=StrongSwan modul
Comment[sl]=Vstavek StrongSwan
Comment[sv]=Insticksprogram för StrongSwan
Comment[tr]=StrongSwan Eklentisi
Comment[uk]=Додаток StrongSwan
Comment[x-test]=xxStrongSwan Pluginxx
Comment[zh_CN]=StrongSwan 插件
