#!/usr/bin/env xdg-open
[Desktop Entry]
Name=kde-nm-connection-editor
Name[cs]=kde-nm-connection-editor
Name[da]=kde-nm-connection-editor
Name[de]=KDE-NM-Verbindungseditor
Name[fi]=kde-nm-connection-editor
Name[fr]=kde-nm-connection-editor
Name[hu]=kde-nm-connection-editor
Name[mr]=केडीई-एनएम-जुळवणी-संपादक
Name[nl]=Bewerker van verbindingen voor kde-nm
Name[pl]=kde-nm-connection-editor
Name[pt]=kde-nm-connection-editor
Name[pt_BR]=kde-nm-connection-editor
Name[sk]=kde-nm-connection-editor
Name[sv]=kde-nm-connection-editor
Name[tr]=kde-nm-connection-editor
Name[uk]=Редактор з’єднань kde-nm
Name[x-test]=xxkde-nm-connection-editorxx
Name[zh_CN]=kde-nm-connection-editor
GenericName=Connection editor
GenericName[fi]=Yhteysmuokkain
GenericName[pt]=Editor de ligações
GenericName[pt_BR]=Editor de conexão
GenericName[sv]=Anslutningseditor
GenericName[uk]=Редактор з’єднань
GenericName[x-test]=xxConnection editorxx
Comment=Edit your network connections
Comment[cs]=Upravit vaše síťová spojení
Comment[da]=Redigér dine netværksforbindelser
Comment[de]=Bearbeiten Sie Ihre Netzwerkverbindungen
Comment[fi]=Verkkoyhteyksiesi muokkaus
Comment[fr]=Modifie vos connexions réseau
Comment[hu]=A hálózati kapcsolatok szerkesztése
Comment[mr]=तुमच्या संजाळ जुळवण्या संपादित करा
Comment[nl]=Bewerk uw netwerkverbindingen
Comment[pl]=Edytuj swoje połączenia sieciowe
Comment[pt]=Edite as suas ligações de rede
Comment[pt_BR]=Edite as suas conexões de rede
Comment[sk]=Upraviť vaše sieťové pripojenia
Comment[sv]=Redigera nätverksanslutningar
Comment[tr]=Ağ bağlantılarınızı düzenleyin
Comment[uk]=Редагування ваших записів з’єднань з мережею
Comment[x-test]=xxEdit your network connectionsxx
Comment[zh_CN]=编辑您的网络连接
Exec=kde-nm-connection-editor
Icon=network-defaultroute
Type=Application
Terminal=false
Categories=Qt;KDE;Network;
