#!/usr/bin/env xdg-open
[Desktop Entry]
Name=kde5-nm-connection-editor
Name[cs]=kde5-nm-connection-editor
Name[nl]=Bewerker van verbindingen voor kde5-nm
Name[pt]=kde5-nm-connection-editor
Name[x-test]=xxkde5-nm-connection-editorxx
GenericName=Connection editor
GenericName[cs]=Editor spojení
GenericName[nl]=Bewerker van verbindingen
GenericName[pt]=Editor de ligações
GenericName[sv]=Anslutningseditor
GenericName[uk]=Редактор з’єднань
GenericName[x-test]=xxConnection editorxx
Comment=Edit your network connections
Comment[cs]=Upravit vaše síťová spojení
Comment[nl]=Bewerk uw netwerkverbindingen
Comment[pt]=Edite as suas ligações de rede
Comment[sv]=Redigera nätverksanslutningar
Comment[uk]=Редагування ваших записів з’єднань з мережею
Comment[x-test]=xxEdit your network connectionsxx
Exec=kde5-nm-connection-editor
Icon=network-defaultroute
Type=Application
Terminal=false
Categories=Qt;KDE;Network;
NoDisplay=true
