[Desktop Entry]
Name=kde5-nm-connection-editor
Name[ar]=محرر اتصال إدارة الشبكات في كدي 5
Name[ast]=kde5-nm-connection-editor
Name[bs]=kde5-nm-editor-konekcije
Name[ca]=kde5-nm-connection-editor
Name[ca@valencia]=kde5-nm-connection-editor
Name[cs]=kde5-nm-connection-editor
Name[da]=kde5-nm-connection-editor
Name[de]=KDE5-NM-Verbindungseditor
Name[el]=kde5-nm-connection-editor
Name[en_GB]=kde5-nm-connection-editor
Name[es]=kde5-nm-connection-editor
Name[et]=kde5-nm-connection-editor
Name[fi]=kde5-nm-connection-editor
Name[fr]=kde5-nm-connection-editor
Name[gl]=kde5-nm-connection-editor
Name[hu]=kde5-nm-connection-editor
Name[it]=kde5-nm-connection-editor
Name[ko]=kde5-nm-connection-editor
Name[lt]=kde5-nm-connection-editor
Name[nb]=kde5-nm-connection-editor
Name[nds]=NM-Verbinnenpleger för KDE-5
Name[nl]=Bewerker van verbindingen voor kde5-nm
Name[nn]=kde5-nm-connection-editor
Name[pa]=kde5-nm-connection-editor
Name[pl]=kde5-nm-connection-editor
Name[pt]=kde5-nm-connection-editor
Name[pt_BR]=kde5-nm-connection-editor
Name[ru]=kde5-nm-connection-editor
Name[sk]=kde5-nm-connection-editor
Name[sl]=kde5-nm-connection-editor
Name[sr]=kde5-nm-connection-editor
Name[sr@ijekavian]=kde5-nm-connection-editor
Name[sr@ijekavianlatin]=kde5-nm-connection-editor
Name[sr@latin]=kde5-nm-connection-editor
Name[sv]=kde5-nm-connection-editor
Name[tr]=kde5-nm-connection-editor
Name[uk]=Редактор з’єднань kde5-nm
Name[x-test]=xxkde5-nm-connection-editorxx
Name[zh_CN]=kde5-nm-connection-editor
Name[zh_TW]=kde5-nm-connection-editor
GenericName=Connection editor
GenericName[ar]=محرر الإتصال
GenericName[ast]=Editor de conexón
GenericName[bg]=Редактор на мрежи
GenericName[bs]=Uređivač konekcije
GenericName[ca]=Editor de la connexió
GenericName[ca@valencia]=Editor de la connexió
GenericName[cs]=Editor spojení
GenericName[da]=Forbindelseseditor
GenericName[de]=Verbindungs-Editor
GenericName[el]=Επεξεργαστής συνδέσεων
GenericName[en_GB]=Connection editor
GenericName[es]=Editor de conexiones
GenericName[et]=Ühenduste muutja
GenericName[fi]=Yhteysmuokkain
GenericName[fr]=Éditeur de connexion
GenericName[gl]=Editor de conexións
GenericName[he]=עורך חיבורים
GenericName[hu]=Kapcsolatszerkesztő
GenericName[ia]=Editor de connexion
GenericName[it]=Editor delle connessioni
GenericName[ko]=연결 편집기
GenericName[lt]=Ryšio tvarkyklė
GenericName[nb]=Tilkoblingsredigering
GenericName[nds]=Verbinneneditor
GenericName[nl]=Bewerker van verbindingen
GenericName[nn]=Tilkoplingredigering
GenericName[pa]=ਕਨੈਕਸ਼ਨ ਐਡੀਟਰ
GenericName[pl]=Edytor połączenia
GenericName[pt]=Editor de ligações
GenericName[pt_BR]=Editor de conexão
GenericName[ro]=Redactor de conexiuni
GenericName[ru]=Редактор соединений
GenericName[sk]=Editor pripojení
GenericName[sl]=Urejevalnik povezav
GenericName[sr]=Уређивач веза
GenericName[sr@ijekavian]=Уређивач веза
GenericName[sr@ijekavianlatin]=Uređivač veza
GenericName[sr@latin]=Uređivač veza
GenericName[sv]=Anslutningseditor
GenericName[tr]=Bağlantı düzenleyici
GenericName[uk]=Редактор з’єднань
GenericName[x-test]=xxConnection editorxx
GenericName[zh_CN]=连接编辑器
GenericName[zh_TW]=連線編輯器
Comment=Edit your network connections
Comment[ar]=حرر اتصالاتك الشبكية
Comment[ast]=Edita les tos conexones de rede
Comment[bg]=Управление на мрежовите връзки
Comment[bs]=Uredi mrežne konekcije
Comment[ca]=Edita les vostres connexions de xarxa
Comment[ca@valencia]=Edita les vostres connexions de xarxa
Comment[cs]=Upravit vaše síťová spojení
Comment[da]=Redigér dine netværksforbindelser
Comment[de]=Bearbeiten Sie Ihre Netzwerkverbindungen
Comment[el]=Επεξεργασία των συνδέσεων δικτύου
Comment[en_GB]=Edit your network connections
Comment[es]=Editar las conexiones de red
Comment[et]=Võrguühenduste muutmine
Comment[fi]=Verkkoyhteyksiesi muokkaus
Comment[fr]=Modifier vos connexions réseau
Comment[gl]=Edite as súas conexións de rede
Comment[he]=ערוך את חיבורי הרשת שלך
Comment[hu]=A hálózati kapcsolatok szerkesztése
Comment[ia]=Modifica tu connexiones de rete
Comment[it]=Modifica le tue connessioni di rete
Comment[ko]=네트워크 연결 편집
Comment[lt]=Tvarkykite savo tinklo ryšius
Comment[mr]=तुमच्या संजाळ जुळवण्या संपादित करा
Comment[nb]=Rediger dine nettverkstilkoblinger
Comment[nds]=Dien Nettwarkverbinnen bewerken
Comment[nl]=Bewerk uw netwerkverbindingen
Comment[nn]=Rediger nettverkstilkoplingar
Comment[pa]=ਆਪਣੇ ਨੈੱਟਵਰਕ ਕਨੈਕਸ਼ਨਾਂ ਨੂੰ ਸੋਧੋ
Comment[pl]=Edytuj swoje połączenia sieciowe
Comment[pt]=Edite as suas ligações de rede
Comment[pt_BR]=Edite as suas conexões de rede
Comment[ro]=Redactați-vă conexiunile de rețea
Comment[ru]=Изменить сетевые соединения
Comment[sk]=Upraviť vaše sieťové pripojenia
Comment[sl]=Uredite vaše omrežne povezave
Comment[sr]=Уређујте мрежне везе
Comment[sr@ijekavian]=Уређујте мрежне везе
Comment[sr@ijekavianlatin]=Uređujte mrežne veze
Comment[sr@latin]=Uređujte mrežne veze
Comment[sv]=Redigera dina nätverksanslutningar
Comment[tr]=Ağ bağlantılarınızı düzenleyin
Comment[uk]=Редагування ваших записів з’єднань з мережею
Comment[x-test]=xxEdit your network connectionsxx
Comment[zh_CN]=编辑您的网络连接
Comment[zh_TW]=編輯您的網路連線
Exec=kde5-nm-connection-editor
Icon=preferences-system-network
Type=Application
Terminal=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.kde5-nm-connection-editor
Categories=Qt;KDE;Network;
NoDisplay=true
