[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PlasmaNetworkManagement/VpnUiPlugin
Name=Network Management VPN UI Plugin
Name[bs]=Dodatak za upravljanje mrežom VPN UI
Name[ca]=Connector de la IU per a la VPN del Gestor de la xarxa
Name[ca@valencia]=Connector de la IU per a la VPN del Gestor de la xarxa
Name[cs]=VPN UI modul pro správu sítě
Name[da]=VPN UI-plugin til netværkshåndtering
Name[de]=Netzwerkverwaltung - VPN-UI-Modul
Name[el]=Πρόσθετο VPN UI της διαχείρισης δικτύων
Name[en_GB]=Network Management VPN UI Plugin
Name[es]=Complemento de la interfaz de usuario de gestión de redes
Name[et]=Võrguhalduri VPN-i UI plugin
Name[eu]=Sare-kudeaketaren VPN UI plugina
Name[fi]=Verkonhallinnan VPN-käyttöliittymäliitännäinen
Name[fr]=Module externe d'interface utilisateur VPN de gestion de réseau
Name[gl]=Complemento de interface de VPN para a xestión da rede
Name[he]=תוסף ממשק משתמש לניהול רשתות VPN
Name[hu]=Hálózatkezelő VPN UI bővítmény
Name[ia]=Plugin de VPN UI de gestion de rete
Name[id]=Plugin UI VPN Network Management
Name[it]=Estensione interfaccia di gestione di rete di KDE
Name[ko]=네트워크 관리 VPN UI 플러그인
Name[lt]=Tinklo valdymo VPN UI papildinys
Name[nb]=Programtillegg til nettverkstyring med VPN brukerflate
Name[nds]=Nettwarkpleger-VPN-Böversietmoduul
Name[nl]=Netwerkbeheer VPN UI-plugin
Name[nn]=Programtillegg for brukarflate for VPN
Name[pa]=ਨੈੱਟਵਰਕ ਪਰਬੰਧ VPN UI ਪਲੱਗਇਨ
Name[pl]=Wtyczka VPN interfejsu użytkownika dla zarządzania siecią
Name[pt]='Plugin' de Interface VPN da Gestão de Rede
Name[pt_BR]=Plugin de interface VPN do gerenciamento de redes
Name[ro]=Modul de interfață VPN pentru gestiunea rețelei
Name[ru]=Графический модуль управления сетевыми VPN-соединениями
Name[sk]=Modul pre správu siete VPN
Name[sl]=Vstavek vmesnika za upravljanje omrežij VPN
Name[sr]=Прикључак ВПН сучеља за управљање мрежом
Name[sr@ijekavian]=Прикључак ВПН сучеља за управљање мрежом
Name[sr@ijekavianlatin]=Priključak VPN sučelja za upravljanje mrežom
Name[sr@latin]=Priključak VPN sučelja za upravljanje mrežom
Name[sv]=Insticksprogram till nätverkshantering med VPN-användargränssnitt
Name[tr]=Ağ Yönetimi VPN UI Eklentisi
Name[ug]=تور باشقۇرۇش VPN UI قىستۇرمىسى
Name[uk]=Додаток графічного інтерфейсу керування мережею VPN
Name[x-test]=xxNetwork Management VPN UI Pluginxx
Name[zh_CN]=网络管理 VPN 用户界面插件
Name[zh_TW]=網路管理 VPN 使用者介面外掛程式
Comment=Defines KDE Network Management UI Plugins
Comment[bs]=Definiše KDE dodatke za upravljanje mrežom
Comment[ca]=Defineix els connectors de la IU del Gestor de la xarxa del KDE
Comment[ca@valencia]=Defineix els connectors de la IU del Gestor de la xarxa del KDE
Comment[cs]=Definuje grafické moduly správy sítě KDE
Comment[da]=Definerer UI-plugins til KDE netværkshåndtering
Comment[de]=Legt die Module der KDE-Netzwerkverwaltung fest
Comment[el]=Καθορίζει τα πρόσθετα UI της διαχείρισης δικτύων
Comment[en_GB]=Defines KDE Network Management UI Plugins
Comment[es]=Define los complementos de la interfaz de usuario de la gestión de redes de KDE
Comment[et]=Võrguhalduri UI pluginate määratlus
Comment[eu]=KDEren sare-kudeaketaren UI pluginak
Comment[fi]=Määrittää KDE:n verkonhallinnan käyttöliittymäliitännäiset
Comment[fr]=Définit les modules externes d'interface utilisateur de gestion de réseau pour KDE
Comment[gl]=Define complementos de interface para a xestión de redes de KDE
Comment[hu]=Meghatározza a KDE hálózatkezelő UI bővítményeket
Comment[ia]=Define Plugins de UI de gestion de rete de KDE
Comment[id]=Menentukan Plugin UI Pengelolaan Network KDE
Comment[it]=Definisce le estensioni dell'interfaccia di gestione di rete di KDE
Comment[ko]=KDE 네트워크 관리 UI 플러그인 정의
Comment[lt]=Apibrėžia KDE Tinklo valdymo UI papildinius
Comment[nb]=Definerer brukerflate-tillegg til KDE nettverkstyring
Comment[nds]=Leggt Böversietmodulen för de KDE-Nettwarkpleeg fast
Comment[nl]=Definieert KDE netwerkbeheer UI-plugins
Comment[nn]=Definerer brukarflate-tillegg til KDE-nettverksstyring
Comment[pa]=KDE ਨੈੱਟਵਰਕ ਪਰਬੰਧ UI ਪਲੱਗਇਨ ਪਰਿਭਾਸ਼ਿਤ ਕਰੋ
Comment[pl]=Określa wtyczki interfejsu użytkownika dla zarządzania siecią
Comment[pt]=Define os 'plugins' de interface da Gestão de Rede
Comment[pt_BR]=Define os plugins de interface do gerenciamento de redes
Comment[ro]=Definește modulele de interfață pentru gestiunea rețelei
Comment[ru]=Графический модуль управления сетевыми соединениями для KDE
Comment[sk]=Definuje moduly pre správu siete KDE
Comment[sl]=Določa vstavke za KDE-jev vmesnik za upravljanje omrežij
Comment[sr]=Дефинише КДЕ прикључке за управљање мрежом
Comment[sr@ijekavian]=Дефинише КДЕ прикључке за управљање мрежом
Comment[sr@ijekavianlatin]=Definiše KDE priključke za upravljanje mrežom
Comment[sr@latin]=Definiše KDE priključke za upravljanje mrežom
Comment[sv]=Definierar insticksprogram för KDE:s nätverkshantering
Comment[tr]=KDE Ağ Yönetimi UI Eklentilerini tanımlar
Comment[uk]=Визначає додатки інтерфейсу засобу керування мережею KDE
Comment[x-test]=xxDefines KDE Network Management UI Pluginsxx
Comment[zh_CN]=定义 KDE 网络管理用户界面插件
Comment[zh_TW]=定義 KDE 網路管理介面外掛程式

[PropertyDef::X-NetworkManager-Services]
Type=QString
