[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PlasmaNM/VpnUiPlugin
Name=Network Management VPN UI Plugin
Name[cs]=VPN UI modul pro správu sítě
Name[nl]=Netwerkbeheer VPN UI-plugin
Name[pt]='Plugin' de Interface VPN da Gestão de Rede
Name[pt_BR]=Plugin de interface VPN do gerenciamento de redes
Name[sk]=Modul pre správu siete VPN
Name[sv]=Insticksprogram till nätverkshantering med VPN-användargränssnitt
Name[uk]=Додаток графічного інтерфейсу керування мережею VPN
Name[x-test]=xxNetwork Management VPN UI Pluginxx
Comment=Defines KDE Network Management UI Plugins
Comment[cs]=Definuje grafické moduly správy sítě KDE
Comment[nl]=Definieert KDE netwerkbeheer UI-plugins
Comment[pt]=Define os 'plugins' de interface da Gestão de Rede
Comment[pt_BR]=Define os plugins de interface do gerenciamento de redes
Comment[sk]=Definuje moduly pre správu siete KDE
Comment[sv]=Definierar insticksprogram för KDE:s nätverkshantering
Comment[uk]=Визначає додатки інтерфейсу засобу керування мережею KDE
Comment[x-test]=xxDefines KDE Network Management UI Pluginsxx

[PropertyDef::X-NetworkManager-Services]
Type=QString
