[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PlasmaNM/VpnUiPlugin
Name=Network Management VPN UI Plugin
Comment=Defines KDE Network Management UI Plugins

[PropertyDef::X-NetworkManager-Services]
Type=QString
