[Desktop Entry]
Name=Cellular Network
Comment=Management of cellular networks

Icon=smartphone
Exec=plasma-settings -m kcm_cellular_network

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_cellular_network
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=70

X-KDE-Keywords=mobile,data,network
X-KDE-Keywords[ast]=móvil,datos,rede
X-KDE-Keywords[ca]=mòbil,dades,xarxa
X-KDE-Keywords[ca@valencia]=mòbil,dades,xarxa
X-KDE-Keywords[cs]=mobilní,data,síť
X-KDE-Keywords[da]=mobil,data,netværk
X-KDE-Keywords[de]=mobil,daten,netzwerk
X-KDE-Keywords[en_GB]=mobile,data,network
X-KDE-Keywords[es]=móvil,datos,red
X-KDE-Keywords[et]=mobiil,mobiilandmeside,andmed,võrk
X-KDE-Keywords[eu]=mugikorra,datuak,sarea
X-KDE-Keywords[fi]=mobiili,data,verkko
X-KDE-Keywords[fr]=mobile,données,réseau
X-KDE-Keywords[gl]=móbil,datos,rede
X-KDE-Keywords[hu]=mobil,adat,hálózat
X-KDE-Keywords[ia]=mobile,data,network
X-KDE-Keywords[id]=mobile,data,jaringan
X-KDE-Keywords[it]=mobile, dati,rete
X-KDE-Keywords[ko]=mobile,data,network,모바일,데이터,네트워크
X-KDE-Keywords[lt]=mobilusis,duomenys,mobilieji,tinklas
X-KDE-Keywords[ml]=മൊബൈൽ,ഡാറ്റ,ശൃംഖല
X-KDE-Keywords[nl]=mobiel,gegevens,netwerk
X-KDE-Keywords[nn]=mobil,mobilt,data,nettverk
X-KDE-Keywords[pa]=ਮੋਬਾਈਲ,ਡਾਟਾ,ਨੈੱਟਵਰਕ
X-KDE-Keywords[pl]=komórkowa,mobilna,dane,sieć
X-KDE-Keywords[pt]=móvel,dados,rede
X-KDE-Keywords[pt_BR]=móvel,dados,rede
X-KDE-Keywords[ro]=mobil,mobilă,date,rețea
X-KDE-Keywords[ru]=mobile,data,network,мобильная,данные,сеть
X-KDE-Keywords[sk]=mobilný,mobilné,dáta,sieť
X-KDE-Keywords[sl]=mobile,mobilni,data,podatki,network,omrežje
X-KDE-Keywords[sv]=mobil,data,nätverk
X-KDE-Keywords[tg]=мобилӣ,иттилоотӣ,шабака
X-KDE-Keywords[uk]=mobile,data,network,мобільний,дані,мережа
X-KDE-Keywords[x-test]=xxmobilexx,xxdataxx,xxnetworkxx
X-KDE-Keywords[zh_CN]=mobile,data,network,移动,数据,网络
X-KDE-Keywords[zh_TW]=mobile,data,network,行動,資料,數據,網路
Categories=Qt;KDE;X-KDE-settings-system;
