[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_pptpui
X-NetworkManager-Services=org.freedesktop.NetworkManager.pptp
X-KDE-PluginInfo-Author=Lukáš Tinkl
X-KDE-PluginInfo-Email=ltinkl@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_pptpui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=PPTP
Name[bg]=PPTP
Name[bs]=PPTP
Name[ca]=PPTP
Name[ca@valencia]=PPTP
Name[cs]=PPTP
Name[da]=PPTP
Name[de]=PPTP
Name[el]=PPTP
Name[en_GB]=PPTP
Name[es]=PPTP
Name[et]=PPTP
Name[fi]=PPTP
Name[fr]=PPTP
Name[hu]=PPTP
Name[it]=PPTP
Name[ko]=PPTP
Name[lt]=PPTP
Name[nb]=PPTP
Name[nds]=PPTP
Name[nl]=PPTP
Name[pl]=PPTP
Name[pt]=PPTP
Name[pt_BR]=PPTP
Name[ro]=PPTP
Name[ru]=PPTP
Name[sk]=PPTP
Name[sl]=PPTP
Name[sv]=PPTP
Name[tr]=PPTP
Name[ug]=PPTP
Name[uk]=PPTP
Name[x-test]=xxPPTPxx
Name[zh_CN]=PPTP
Comment=PPTP Plugin
Comment[bg]=Приставка за PPTP
Comment[bs]=PPTP Dodatak
Comment[ca]=Connector de PPTP
Comment[ca@valencia]=Connector de PPTP
Comment[cs]=Modul PPTP
Comment[da]=PPTP-plugin
Comment[de]=PPTP-Modul
Comment[el]=Πρόσθετο PPTP
Comment[en_GB]=PPTP Plugin
Comment[es]=Complemento PPTP
Comment[et]=PPTP plugin
Comment[fi]=PPTP-liitännäinen
Comment[fr]=Module externe PPTP
Comment[hu]=PPTP bővítmény
Comment[it]=Estensione PPTP
Comment[ko]=PPTP 플러그인
Comment[lt]=PPTP papildinys
Comment[nb]=PPTP programtillegg
Comment[nds]=PPTP-Moduul
Comment[nl]=PPTP-plug-in
Comment[pl]=Wtyczka PPTP
Comment[pt]='Plugin' de PPTP
Comment[pt_BR]=Plugin de PPTP
Comment[ro]=Modul PPTP
Comment[ru]=Модуль PPTP
Comment[sk]=PPTP modul
Comment[sl]=Vstavek PPTP
Comment[sv]=Insticksprogram för PPTP
Comment[tr]=PPTP Eklentisi
Comment[ug]=PPTP قىستۇرمىسى
Comment[uk]=Додаток PPTP
Comment[x-test]=xxPPTP Pluginxx
Comment[zh_CN]=PPTP 插件
