[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_openconnectui
X-NetworkManager-Services=org.freedesktop.NetworkManager.openconnect
X-KDE-PluginInfo-Author=Lukáš Tinkl
X-KDE-PluginInfo-Email=ltinkl@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_openconnectui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Cisco AnyConnect Compatible VPN (openconnect)
Name[nl]=Cisco AnyConnect Compatibele VPN (openconnect)
Name[pt]=VPN Compatível com o AnyConnect da Cisco (openconnect)
Name[sv]=Cisco AnyConnect-kompatibel VPN (openconnect)
Name[x-test]=xxCisco AnyConnect Compatible VPN (openconnect)xx
Comment=Compatible with Cisco AnyConnect SSL VPN
Comment[nl]=Compatibel met Cisco AnyConnect SSL VPN
Comment[pt]=Compatível com a VPN AnyConnect da Cisco por SSL
Comment[sv]=Kompatibel med Cisco AnyConnect SSL VPN
Comment[x-test]=xxCompatible with Cisco AnyConnect SSL VPNxx
