[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_openconnectui
X-NetworkManager-Services=org.freedesktop.NetworkManager.openconnect
X-KDE-PluginInfo-Author=Lukáš Tinkl
X-KDE-PluginInfo-Email=ltinkl@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_openconnectui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=OpenConnect
Name[bg]=OpenConnect
Name[bs]=OpenConnect
Name[ca]=OpenConnect
Name[ca@valencia]=OpenConnect
Name[cs]=OpenConnect
Name[da]=OpenConnect
Name[de]=OpenConnect
Name[el]=OpenConnect
Name[es]=OpenConnect
Name[fi]=OpenConnect
Name[fr]=OpenConnect
Name[hu]=OpenConnect
Name[it]=OpenConnect
Name[lt]=OpenConnect
Name[nl]=OpenConnect
Name[pl]=OpenConnect
Name[pt]=OpenConnect
Name[pt_BR]=OpenConnect
Name[ro]=OpenConnect
Name[sk]=OpenConnect
Name[sl]=OpenConnect
Name[sv]=OpenConnect
Name[tr]=OpenConnect
Name[ug]=OpenConnect
Name[uk]=OpenConnect
Name[x-test]=xxOpenConnectxx
Name[zh_CN]=OpenConnect
Comment=OpenConnect Plugin
Comment[bg]=Приставка за OpenConnect
Comment[bs]=OpenConnect dodatak
Comment[ca]=Connector d'OpenConnect
Comment[ca@valencia]=Connector d'OpenConnect
Comment[cs]=Modul OpenConnect
Comment[da]=OpenConnect-plugin
Comment[de]=OpenConnect-Modul
Comment[el]=Πρόσθετο OpenConnect
Comment[es]=Complemento OpenConnect
Comment[fi]=OpenConnect-liitännäinen
Comment[fr]=Module externe OpenConnect
Comment[hu]=OpenConnect bővítmény
Comment[it]=Estensione OpenConnect
Comment[lt]=OpenConnect papildinys
Comment[nl]=OpenConnect-plug-in
Comment[pl]=Wtyczka OpenConnect
Comment[pt]='Plugin' do OpenConnect
Comment[pt_BR]=Plugin do OpenConnect
Comment[ro]=Extensie OpenConnect
Comment[sk]=Plugin OpenConnect
Comment[sl]=Vstavek OpenConnect
Comment[sv]=Insticksprogram för OpenConnect
Comment[tr]=OpenConnect Eklentisi
Comment[ug]=OpenConnect قىستۇرمىسى
Comment[uk]=Додаток OpenConnect
Comment[x-test]=xxOpenConnect Pluginxx
Comment[zh_CN]=OpenConnect 插件
