[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_openconnectui
X-NetworkManager-Services=org.freedesktop.NetworkManager.openconnect
X-NetworkManager-Services-Subtype=pulse
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_openconnectui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Pulse Connect Secure (openconnect)
Name[ast]=Pulse Connect Secure (openconnect)
Name[az]=Pulse Connect Secure (openconnect)
Name[ca]=Pulse Connect Secure (openconnect)
Name[es]=Pulse Connect Secure (openconnect)
Name[eu]=Pulse Connect Secure (openconnect)
Name[hu]=Pulse Connect Secure (openconnect)
Name[ia]=Pulse Connect Secure (openconnect)
Name[lt]=Pulse Connect Secure (openconnect)
Name[nl]=Pulse Connect Secure (openconnect)
Name[pl]=Pulse Connect Secure (openconnect)
Name[pt]=Pulse Connect Secure (openconnect)
Name[pt_BR]=Pulse Connect Secure (openconnect)
Name[sk]=Pulse Connect Secure (openconnect)
Name[sl]=Pulse Connect Secure (openconnect)
Name[sv]=Pulse Connect Secure (openconnect)
Name[uk]=Pulse Connect Secure (openconnect)
Name[x-test]=xxPulse Connect Secure (openconnect)xx
Comment=Compatible with Pulse Connect Secure SSL VPN
Comment[az]=Pulse Connect Secure SSL VPN ilə uyğun
Comment[ca]=Compatible amb la VPN SSL de Pulse Connect Secure
Comment[es]=VPN compatible con Pulse Connect Secure SSL
Comment[eu]=Pulse Connect Secure SSL VPN-rekin bateragarria
Comment[hu]=Kompatibilis a Pulse Connect Sevure SSL VPN-nel
Comment[ia]=Compatibile con Pulse Connect Secure SSL VPN
Comment[lt]=Suderinamas su Pulse Connect Secure SSL VPN
Comment[nl]=Compatibel met Pulse Connect Secure SSL VPN
Comment[pl]=Zgodny z VPN Pulse Connect Secure SSL
Comment[pt]=Compatível com a VPN por SSL Pulse Connect Secure
Comment[pt_BR]=Compatível com a VPN da Pulse Connect Secure por SSL
Comment[sk]=Kompatibilné s Pulse Connect Secure SSL VPN
Comment[sl]=Združljivo s S Pulse Connect Secure SSL VPN
Comment[sv]=Kompatibel med Pulse Connect Secure SSL VPN
Comment[uk]=Сумісний із VPN SSL Pulse Connect Secure
Comment[x-test]=xxCompatible with Pulse Connect Secure SSL VPNxx
