[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_openconnectui
X-NetworkManager-Services=org.freedesktop.NetworkManager.openconnect
X-NetworkManager-Services-Subtype=nc
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_openconnectui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Juniper SSL VPN (openconnect)
Name[az]=Juniper SSL VPN (openconnect)
Name[ca]=VPN SSL Juniper (openconnect)
Name[es]=VPN Juniper SSL (openconnect)
Name[eu]=Juniper SSL VPN (openconnect)
Name[hu]=Juniper SSL VPN (openconnect)
Name[ia]=Juniper SSL VPN (openconnect)
Name[lt]=Juniper SSL VPN (openconnect)
Name[nl]=Juniper SSL VPN (openconnect)
Name[pl]=Juniper SSL VPN (openconnect)
Name[pt]=Juniper SSL VPN (openconnect)
Name[pt_BR]=Juniper SSL VPN (openconnect)
Name[sk]=Juniper SSL VPN (openconnect)
Name[sl]=Juniper SSL VPN (openconnect)
Name[sv]=Juniper SSL VPN (openconnect)
Name[uk]=Juniper SSL VPN (openconnect)
Name[x-test]=xxJuniper SSL VPN (openconnect)xx
Comment=Compatible with Juniper Network Connect
Comment[ast]=Compatible con Juniper Network Connect
Comment[az]=Juniper Şəbəkə Bağlantısı ilə uyğun
Comment[ca]=Compatible amb la Juniper Network Connect
Comment[es]=Compatible con Juniper Network Connect
Comment[eu]=Juniper Network Connect-ekin bateragarria
Comment[hu]=Kompatibilis a Juniper Network Connecttel
Comment[ia]=Compatibile con Juniper Network Connect
Comment[lt]=Suderinamas su Juniper Network Connect
Comment[nl]=Compatibel met Juniper Network Connect
Comment[pl]=Zgodny z  Juniper Network Connect
Comment[pt]=Compatível com o Juniper Network Connect
Comment[pt_BR]=Compatível com o conector de rede Juniper
Comment[sk]=Kompatibilné s Juniper Network Connect
Comment[sl]=Združljivo z Juniper Network Connect
Comment[sv]=Kompatibel med Juniper Network Connect
Comment[uk]=Сумісний із Juniper Network Connect
Comment[x-test]=xxCompatible with Juniper Network Connectxx
