[Desktop Entry]
Name=Mobile broadband
Name[ca]=Banda ampla per mòbil
Name[ca@valencia]=Banda ampla per mòbil
Name[de]=Mobiles Breitband
Name[es]=Banda ancha móvil
Name[gl]=Banda larga móbil
Name[nl]=Mobiel breedband
Name[nn]=Mobilt breiband
Name[pt]=Banda larga móvel
Name[pt_BR]=Banda larga móvel
Name[sv]=Mobilt bredband
Name[uk]=Мобільна радіомережа
Name[x-test]=xxMobile broadbandxx
Comment=Mobile broadband setting
Comment[ca]=Configuració de la banda ampla per mòbil
Comment[ca@valencia]=Configuració de la banda ampla per mòbil
Comment[de]=Einstellungen für Mobiles Breitband
Comment[es]=Preferencias de banda ancha móvil
Comment[gl]=Opción de banda larga móbil
Comment[nl]=Instelling voor mobiel breedband
Comment[nn]=Innstilling for mobilt breiband
Comment[pt]=Configuração da banda larga móvel
Comment[pt_BR]=Configurações da banda larga móvel
Comment[sv]=Inställning av mobilt bredband
Comment[uk]=Налаштовування мобільної радіомережі
Comment[x-test]=xxMobile broadband settingxx

Icon=smartphone
Exec=plasma-settings -m kcm_mobile_broadband

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_mobile_broadband
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=70

X-KDE-Keywords=mobile,data,network
X-KDE-Keywords[ca]=mòbil,dades,xarxa
X-KDE-Keywords[ca@valencia]=mòbil,dades,xarxa
X-KDE-Keywords[de]=mobil,daten,netzwerk
X-KDE-Keywords[es]=móvil,datos,red
X-KDE-Keywords[gl]=móbil,datos,rede
X-KDE-Keywords[nl]=mobiel,gegevens,netwerk
X-KDE-Keywords[nn]=mobil,mobilt,data,nettverk
X-KDE-Keywords[pt]=móvel,dados,rede
X-KDE-Keywords[pt_BR]=móvel,dados,rede
X-KDE-Keywords[sv]=mobil,data,nätverk
X-KDE-Keywords[uk]=mobile,data,network,мобільний,дані,мережа
X-KDE-Keywords[x-test]=xxmobilexx,xxdataxx,xxnetworkxx
Categories=Qt;KDE;X-KDE-settings-system;

