[Desktop Entry]
Name=Mobile broadband
Name[ast]=Banda ancha móvil
Name[ca]=Banda ampla per mòbil
Name[ca@valencia]=Banda ampla per mòbil
Name[cs]=Mobilní Broadband
Name[da]=Mobilt bredbånd
Name[de]=Mobiles Breitband
Name[en_GB]=Mobile broadband
Name[es]=Banda ancha móvil
Name[eu]=Mugikorreko banda-zabala
Name[fi]=Mobiililaajakaista
Name[fr]=Haut débit mobile
Name[gl]=Banda larga móbil
Name[id]=Mobile broadband
Name[it]=Banda larga mobile
Name[ko]=모바일 광대역
Name[lt]=Mobilusis plačiajuostis
Name[nl]=Mobiel breedband
Name[nn]=Mobilt breiband
Name[pl]=Komórkowe szerokopasmowe
Name[pt]=Banda larga móvel
Name[pt_BR]=Banda larga móvel
Name[ru]=Мобильный интернет
Name[sk]=Mobilné širokopásmové pripojenie
Name[sv]=Mobilt bredband
Name[uk]=Мобільна радіомережа
Name[x-test]=xxMobile broadbandxx
Name[zh_CN]=移动宽带
Name[zh_TW]=行動數據
Comment=Mobile broadband setting
Comment[ca]=Configuració de la banda ampla per mòbil
Comment[ca@valencia]=Configuració de la banda ampla per mòbil
Comment[cs]=Nastavení pro Mobilní Broadband
Comment[da]=Opsætning af mobilt bredbånd
Comment[de]=Einstellungen für Mobiles Breitband
Comment[en_GB]=Mobile broadband setting
Comment[es]=Preferencias de banda ancha móvil
Comment[eu]=Mugikorreko banda-zabaleko ezarpena
Comment[fi]=Mobiililaajakaista-asetukset
Comment[fr]=Paramètre haut débit mobile
Comment[gl]=Opción de banda larga móbil
Comment[id]=Pengesetan mobile broadband
Comment[it]=Impostazioni banda larga mobile
Comment[ko]=모바일 광대역 설정
Comment[lt]=Mobiliojo plačiajuosčio nuostata
Comment[nl]=Instelling voor mobiel breedband
Comment[nn]=Innstilling for mobilt breiband
Comment[pl]=Ustawienia sieci komórkowej
Comment[pt]=Configuração da banda larga móvel
Comment[pt_BR]=Configurações da banda larga móvel
Comment[ru]=Параметры мобильного интернета
Comment[sk]=Nastavenia mobilného širokopásmového pripojenia
Comment[sv]=Inställning av mobilt bredband
Comment[uk]=Налаштовування мобільної радіомережі
Comment[x-test]=xxMobile broadband settingxx
Comment[zh_CN]=移动宽带设置
Comment[zh_TW]=行動數據設定

Icon=smartphone
Exec=plasma-settings -m kcm_mobile_broadband

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_mobile_broadband
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=70

X-KDE-Keywords=mobile,data,network
X-KDE-Keywords[ast]=móvil,datos,rede
X-KDE-Keywords[ca]=mòbil,dades,xarxa
X-KDE-Keywords[ca@valencia]=mòbil,dades,xarxa
X-KDE-Keywords[cs]=mobilní,data,síť
X-KDE-Keywords[da]=mobil,data,netværk
X-KDE-Keywords[de]=mobil,daten,netzwerk
X-KDE-Keywords[en_GB]=mobile,data,network
X-KDE-Keywords[es]=móvil,datos,red
X-KDE-Keywords[eu]=mugikorra,datuak,sarea
X-KDE-Keywords[fi]=mobiili,data,verkko
X-KDE-Keywords[fr]=mobile,données,réseau
X-KDE-Keywords[gl]=móbil,datos,rede
X-KDE-Keywords[id]=mobile,data,jaringan
X-KDE-Keywords[it]=mobile, dati,rete
X-KDE-Keywords[ko]=mobile,data,network,모바일,데이터,네트워크
X-KDE-Keywords[lt]=mobilusis,duomenys,mobilieji,tinklas
X-KDE-Keywords[nl]=mobiel,gegevens,netwerk
X-KDE-Keywords[nn]=mobil,mobilt,data,nettverk
X-KDE-Keywords[pl]=komórkowa,mobilna,dane,sieć
X-KDE-Keywords[pt]=móvel,dados,rede
X-KDE-Keywords[pt_BR]=móvel,dados,rede
X-KDE-Keywords[ru]=mobile,data,network,мобильная,данные,сеть
X-KDE-Keywords[sk]=mobilný,dáta,sieť
X-KDE-Keywords[sv]=mobil,data,nätverk
X-KDE-Keywords[uk]=mobile,data,network,мобільний,дані,мережа
X-KDE-Keywords[x-test]=xxmobilexx,xxdataxx,xxnetworkxx
X-KDE-Keywords[zh_CN]=mobile,data,network,移动,数据,网络
X-KDE-Keywords[zh_TW]=mobile,data,network,行動,資料,數據,網路
Categories=Qt;KDE;X-KDE-settings-system;

