[Desktop Entry]
Name=Mobile Broadband
Name[ast]=Banda ancha móvil
Name[ca]=Banda ampla per mòbil
Name[ca@valencia]=Banda ampla per mòbil
Name[cs]=Mobilní Broadband
Name[da]=Mobilt bredbånd
Name[de]=Mobiles Breitband
Name[en_GB]=Mobile Broadband
Name[es]=Banda ancha móvil
Name[et]=Mobiilandmeside
Name[eu]=Mugikorreko banda-zabala
Name[fi]=Mobiililaajakaista
Name[fr]=Haut débit mobile
Name[gl]=Banda larga móbil
Name[hu]=Mobil szélessáv
Name[ia]=Banda large mobile
Name[id]=Mobile Broadband
Name[it]=Banda larga mobile
Name[ko]=모바일 광대역
Name[lt]=Mobilusis plačiajuostis
Name[ml]=മൊബൈൽ ബ്രോഡ്ബാൻഡ്
Name[nl]=Mobiel breedband
Name[nn]=Mobilt breiband
Name[pa]=ਮੋਬਾਈਲ ਬਰਾਡਬੈਂਡ
Name[pl]=Komórkowe szerokopasmowe
Name[pt]=Banda Larga Móvel
Name[pt_BR]=Banda larga móvel
Name[ro]=Bandă largă mobilă
Name[ru]=Мобильный интернет:
Name[sk]=Mobilné širokopásmové pripojenie
Name[sl]=Mobilno širokopasovno omrežje
Name[uk]=Мобільна радіомережа
Name[x-test]=xxMobile Broadbandxx
Name[zh_CN]=移动宽带
Name[zh_TW]=行動數據
Comment=Mobile broadband setting
Comment[ca]=Configuració de la banda ampla per mòbil
Comment[ca@valencia]=Configuració de la banda ampla per mòbil
Comment[cs]=Nastavení pro Mobilní Broadband
Comment[da]=Opsætning af mobilt bredbånd
Comment[de]=Einstellungen für Mobiles Breitband
Comment[en_GB]=Mobile broadband setting
Comment[es]=Preferencias de banda ancha móvil
Comment[et]=Mobiilandmeside seadistus
Comment[eu]=Mugikorreko banda-zabaleko ezarpena
Comment[fi]=Mobiililaajakaista-asetukset
Comment[fr]=Paramètre haut débit mobile
Comment[gl]=Opción de banda larga móbil
Comment[hu]=Mobil szélessáv beállításai
Comment[ia]=Preferentia de banda large mobile
Comment[id]=Pengesetan mobile broadband
Comment[it]=Impostazioni banda larga mobile
Comment[ko]=모바일 광대역 설정
Comment[lt]=Mobiliojo plačiajuosčio nuostata
Comment[ml]=മൊബൈൽ ബ്രോഡ്ബാൻഡ് സജ്ജീകരണം
Comment[nl]=Instelling voor mobiel breedband
Comment[nn]=Innstilling for mobilt breiband
Comment[pa]=ਮੋਬਾਈਲ ਬਰਾਡਬੈਂਡ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia sieci komórkowej
Comment[pt]=Configuração da banda larga móvel
Comment[pt_BR]=Configurações da banda larga móvel
Comment[ro]=Configurare bandă largă mobilă
Comment[ru]=Параметры мобильного интернета
Comment[sk]=Nastavenie mobilného širokopásmového pripojenia
Comment[sl]=Nastavitve mobilnega širokopasovnega omrežja
Comment[uk]=Налаштовування мобільної радіомережі
Comment[x-test]=xxMobile broadband settingxx
Comment[zh_CN]=移动宽带设置
Comment[zh_TW]=行動數據設定
Encoding=UTF-8
Type=Service
Icon=smartphone
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_mobile_broadband
X-KDE-PluginInfo-Author=Martin Kacej
X-KDE-PluginInfo-Email=m.kacej@atlas.sk
X-KDE-PluginInfo-Name=kcm_mobile_broadband
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://plasma-mobile.org/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-Package=kcm_mobile_broadband
X-Plasma-MainScript=ui/main.qml
