[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_wireguardui
X-NetworkManager-Services=org.freedesktop.NetworkManager.wireguard
X-KDE-PluginInfo-Author=Bruce Anderson
X-KDE-PluginInfo-Email=banderson19com@san.rr.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_wireguardui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=WireGuard based VPN
Name[ca]=VPN basada en WireGuard
Name[ca@valencia]=VPN basada en WireGuard
Name[de]=VPN basierend auf WireGuard
Name[en_GB]=WireGuard based VPN
Name[es]=VPN basada en WireGuard
Name[fi]=WireGuard-pohjainen VPN
Name[fr]=VPN reposant sur WireGuard
Name[gl]=VPN baseada en WireGuard
Name[id]=VPN berbasis WireGuard
Name[it]=VPN basata su WireGuard
Name[ko]=WireGuard 기반 VPN
Name[nl]=Op WireGuard gebaseerde VPN
Name[nn]=WireGuard-basert VPN
Name[pl]=VPN oparte na WireGuard
Name[pt]=VPN baseada no WireGuard
Name[pt_BR]=VPN baseada no WireGuard
Name[ru]=VPN на основе WireGuard
Name[sk]=VPN pomocou WireGuard
Name[sv]=WireGuard-baserad VPN
Name[uk]=WireGuard на основі VPN
Name[x-test]=xxWireGuard based VPNxx
Name[zh_CN]=基于 WireGuard 的 VPN
Name[zh_TW]=基於 VPN 的 WireGuard
Comment=Compatible with WireGuard VPN servers
Comment[ca]=Compatible amb els servidors VPN del WireGuard
Comment[ca@valencia]=Compatible amb els servidors VPN del WireGuard
Comment[de]=Mit WireGuard-VPN-Servern kompatibel
Comment[en_GB]=Compatible with WireGuard VPN servers
Comment[es]=Compatible con servidores VPN WireGuard
Comment[fi]=Yhteensopiva WireGuard-VPN-palvelinten kanssa
Comment[fr]=Compatible avec les serveurs VPN WireGuard
Comment[gl]=Compatíbel con servidores de VPN que usen WireGuard.
Comment[id]=Kompatibel dengan server-server VPN WireGuard
Comment[it]=Compatibile con i server VPN WireGuard
Comment[ko]=WireGuard VPN 서버와 호환됨
Comment[nl]=Compatibel met WireGuard VPN-servers
Comment[nn]=Kompatibel med WireGuard VPN-tenarar
Comment[pl]=Zgodny z serwerami VPN WireGuard
Comment[pt]=Compatível com os servidores de VPN da WireGuard
Comment[pt_BR]=Compatível com os servidores VPN do WireGuard
Comment[ru]=Совместимая с серверами VPN на основе WireGuard
Comment[sk]=Kompatibilné s Wireguard VPN servermi
Comment[sv]=Kompatibel med WireGuard VPN-servrar
Comment[uk]=Сумісні з WireGuard сервери VPN
Comment[x-test]=xxCompatible with WireGuard VPN serversxx
Comment[zh_CN]=兼容 WireGuard VPN 服务器
Comment[zh_TW]=相容 WireGuard VPN 伺服器
