[Desktop Entry]
Name=Connections
Name[ar]=الاتّصالات
Name[ca]=Connexions
Name[ca@valencia]=Connexions
Name[cs]=Spojení
Name[da]=Forbindelser
Name[de]=Verbindungen
Name[el]=Συνδέσεις
Name[en_GB]=Connections
Name[es]=Conexiones
Name[eu]=Konexioak
Name[fi]=Yhteydet
Name[fr]=Connexions
Name[gl]=Conexións
Name[he]=חיבורים
Name[hu]=Kapcsolatok
Name[it]=Connessioni
Name[ko]=연결
Name[lt]=Ryšiai
Name[nl]=Verbindingen
Name[nn]=Tilkoplingar
Name[pa]=ਕਨੈਕਸ਼ਨ
Name[pl]=Połączenia
Name[pt]=Ligações
Name[pt_BR]=Conexões
Name[ru]=Соединения
Name[sk]=Pripojenia
Name[sl]=Povezave
Name[sr]=Везе
Name[sr@ijekavian]=Везе
Name[sr@ijekavianlatin]=Veze
Name[sr@latin]=Veze
Name[sv]=Anslutningar
Name[tr]=Bağlantılar
Name[uk]=З’єднання
Name[x-test]=xxConnectionsxx
Name[zh_CN]=连接
Name[zh_TW]=連線
Comment=Edit your Network Connections
Comment[ar]=حرّر اتّصالاتك الشّبكيّة
Comment[ca]=Edita les connexions de xarxa
Comment[ca@valencia]=Edita les connexions de xarxa
Comment[cs]=Upravit vaše síťová spojení
Comment[da]=Redigér dine netværksforbindelser
Comment[de]=Bearbeiten Sie Ihre Netzwerkverbindungen
Comment[el]=Επεξεργασία των συνδέσεων δικτύου
Comment[en_GB]=Edit your Network Connections
Comment[es]=Editar las conexiones de red
Comment[eu]=Editatu zure sareko konexioak
Comment[fi]=Verkkoyhteyksien muokkaus
Comment[fr]=Modifier vos connexions réseau
Comment[gl]=Edite as súas conexións de rede
Comment[he]=ערוך את חיבורי הרשת שלך
Comment[hu]=A hálózati kapcsolatok szerkesztése
Comment[it]=Modifica le tue connessioni di rete
Comment[ko]=네트워크 연결 편집
Comment[lt]=Keisti tinklo ryšius
Comment[nl]=Bewerk uw netwerkverbindingen
Comment[nn]=Rediger nettverkstilkoplingar
Comment[pa]=ਆਪਣੇ ਨੈੱਟਵਰਕ ਕਨੈਕਸ਼ਨਾਂ ਨੂੰ ਸੋਧੋ
Comment[pl]=Edytuj swoje połączenia sieciowe
Comment[pt]=Editar as Suas Ligações de Rede
Comment[pt_BR]=Edite suas conexões de rede
Comment[ru]=Настройка сетевых соединений
Comment[sk]=Upraviť vaše sieťové pripojenia
Comment[sl]=Uredite vaše omrežne povezave
Comment[sr]=Уређујте мрежне везе
Comment[sr@ijekavian]=Уређујте мрежне везе
Comment[sr@ijekavianlatin]=Uređujte mrežne veze
Comment[sr@latin]=Uređujte mrežne veze
Comment[sv]=Redigera dina nätverksanslutningar
Comment[tr]=Ağ bağlantılarınızı düzenleyin
Comment[uk]=Редагування ваших записів з’єднань з мережею
Comment[x-test]=xxEdit your Network Connectionsxx
Comment[zh_CN]=编辑您的网络连接
Comment[zh_TW]=編輯您的網路連線
Icon=preferences-system-network
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=kcm_networkmanagement
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
