[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_sstpui
X-NetworkManager-Services=org.freedesktop.NetworkManager.sstp
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_sstpui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=SSTP
Name[ast]=SSTP
Name[ca]=SSTP
Name[ca@valencia]=SSTP
Name[cs]=SSTP
Name[da]=SSTP
Name[de]=SSTP
Name[en_GB]=SSTP
Name[es]=SSTP
Name[fi]=SSTP
Name[gl]=SSTP
Name[it]=SSTP
Name[ko]=SSTP
Name[lt]=SSTP
Name[nl]=SSTP
Name[nn]=SSTP
Name[pl]=SSTP
Name[pt]=SSTP
Name[pt_BR]=SSTP
Name[ru]=SSTP
Name[sk]=SSTP
Name[sl]=SSTP
Name[sr]=ССТП
Name[sr@ijekavian]=ССТП
Name[sr@ijekavianlatin]=SSTP
Name[sr@latin]=SSTP
Name[sv]=SSTP
Name[tr]=SSTP
Name[uk]=SSTP
Name[x-test]=xxSSTPxx
Name[zh_CN]=SSTP
Name[zh_TW]=SSTP
Comment=SSTP Plugin
Comment[ast]=Complementu PPTP
Comment[ca]=Connector de l'SSTP
Comment[ca@valencia]=Connector de l'SSTP
Comment[cs]=Modul SSTP
Comment[da]=SSTP-plugin
Comment[de]=SSTP-Modul
Comment[en_GB]=SSTP Plugin
Comment[es]=Complemento SSTP
Comment[fi]=SSTP-liitännäinen
Comment[gl]=Complemento de SSTP
Comment[it]=Estensione SSTP
Comment[ko]=SSTP 플러그인
Comment[lt]=SSTP papildinys
Comment[nl]=SSTP-plug-in
Comment[nn]=SSTP-tillegg
Comment[pl]=Wtyczka SSTP
Comment[pt]='Plugin' de SSTP
Comment[pt_BR]=Plugin de SSTP
Comment[ru]=Модуль SSTP
Comment[sk]=SSTP plugin
Comment[sl]=Vstavek SSTP
Comment[sr]=Прикључак ССТП‑а
Comment[sr@ijekavian]=Прикључак ССТП‑а
Comment[sr@ijekavianlatin]=Priključak SSTP‑a
Comment[sr@latin]=Priključak SSTP‑a
Comment[sv]=Insticksprogram för SSTP
Comment[tr]=SSTP Eklentisi
Comment[uk]=Додаток SSTP
Comment[x-test]=xxSSTP Pluginxx
Comment[zh_CN]=SSTP 插件
Comment[zh_TW]=SSTP 外掛程式 
