[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_sstpui
X-NetworkManager-Services=org.freedesktop.NetworkManager.sstp
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_sstpui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Secure Socket Tunneling Protocol (SSTP)
Name[ca]=Protocol per crear túnels amb sócols segurs (SSTP)
Name[ca@valencia]=Protocol per crear túnels amb sócols segurs (SSTP)
Name[en_GB]=Secure Socket Tunneling Protocol (SSTP)
Name[ko]=보안 소켓 터널링 프로토콜(SSTP)
Name[nl]=Secure Socket Tunneling Protocol (SSTP)
Name[nn]=Secure Socket Tunneling Protocol (SSTP)
Name[pl]=Protokół tunelujący bezpiecznego gniazda (SSTP)
Name[pt]=Protocolo de Túneis por 'Socket' Seguro (SSTP)
Name[pt_BR]=Secure Socket Tunneling Protocol (SSTP)
Name[sl]=Protokol za tuneliranje z varnim vtičem (SSTP)
Name[sr]=ССТП (безбедни сокетни тунелски протокол)
Name[sr@ijekavian]=ССТП (безбедни сокетни тунелски протокол)
Name[sr@ijekavianlatin]=SSTP (bezbedni soketni tunelski protokol)
Name[sr@latin]=SSTP (bezbedni soketni tunelski protokol)
Name[sv]=Säkert uttagstunnelprotokoll (SSTP)
Name[uk]=Протокол тунелювання із безпечними сокетами (SSTP)
Name[x-test]=xxSecure Socket Tunneling Protocol (SSTP)xx
Name[zh_CN]=安全套接字隧道协议 (SSTP)
Comment=Compatible with Microsoft and other SSTP VPN servers
Comment[ca]=Compatible amb Microsoft i altres servidors VPN sobre SSTP
Comment[ca@valencia]=Compatible amb Microsoft i altres servidors VPN sobre SSTP
Comment[en_GB]=Compatible with Microsoft and other SSTP VPN servers
Comment[ko]=Microsoft 및 기타 SSTP VPN 서버와 호환됨
Comment[nl]=Compatibel met Microsoft en andere SSTP VPN servers
Comment[nn]=Kompatibel med Microsoft og andre SSTP VPN-tenarar
Comment[pl]=Zgodny z serwerami VPN Microsoft-u i innymi SSTP
Comment[pt]=Compatível com os servidores de VPN SSTP da Microsoft e outros
Comment[pt_BR]=Compatível com servidores VPN SSTP da Microsoft e outros
Comment[sl]=Združljiv z Microsoftovimi in drugimi SSTP strežniki VPN
Comment[sr]=Сагласно са Мајкрософтовим и другим ССТП ВПН серверима
Comment[sr@ijekavian]=Сагласно са Мајкрософтовим и другим ССТП ВПН серверима
Comment[sr@ijekavianlatin]=Saglasno sa Microsoftovim i drugim SSTP VPN serverima
Comment[sr@latin]=Saglasno sa Microsoftovim i drugim SSTP VPN serverima
Comment[sv]=Kompatibelt med Microsoft och andra SSTP VPN-servrar
Comment[uk]=Сумісні з Microsoft та іншими серверами VPN SSTP
Comment[x-test]=xxCompatible with Microsoft and other SSTP VPN serversxx
Comment[zh_CN]=兼容 Microsoft 和其他 SSTP VPN 服务器
