[Desktop Entry]
Type=Service
Icon=
ServiceTypes=PlasmaNetworkManagement/VpnUiPlugin
X-KDE-Library=plasmanetworkmanagement_sstpui
X-NetworkManager-Services=org.freedesktop.NetworkManager.sstp
X-KDE-PluginInfo-Author=Jan Grulich
X-KDE-PluginInfo-Email=jgrulich@redhat.com
X-KDE-PluginInfo-Name=plasmanetworkmanagement_sstpui
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=VPNService
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=SSTP
Name[ca]=SSTP
Name[es]=SSTP
Name[fi]=SSTP
Name[it]=SSTP
Name[nl]=SSTP
Name[pl]=SSTP
Name[pt]=SSTP
Name[pt_BR]=SSTP
Name[sr]=ССТП
Name[sr@ijekavian]=ССТП
Name[sr@ijekavianlatin]=SSTP
Name[sr@latin]=SSTP
Name[sv]=SSTP
Name[uk]=SSTP
Name[x-test]=xxSSTPxx
Name[zh_TW]=SSTP
Comment=SSTP Plugin
Comment[ca]=Connector de l'SSTP
Comment[es]=Complemento SSTP
Comment[fi]=SSTP-liitännäinen
Comment[it]=Estensione SSTP
Comment[nl]=SSTP-plug-in
Comment[pl]=Wtyczka SSTP
Comment[pt]='Plugin' de SSTP
Comment[pt_BR]=Plugin de SSTP
Comment[sr]=Прикључак ССТП‑а
Comment[sr@ijekavian]=Прикључак ССТП‑а
Comment[sr@ijekavianlatin]=Priključak SSTP‑a
Comment[sr@latin]=Priključak SSTP‑a
Comment[sv]=Insticksprogram för SSTP
Comment[uk]=Додаток SSTP
Comment[x-test]=xxSSTP Pluginxx
Comment[zh_TW]=SSTP 外掛程式 
